gsrc/wsi/remote/gw/webservice/bc/bc800/entity.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://guidewire.com/pc/integration/BillingAPI/entity" xmlns="http://guidewire.com/pc/integration/BillingAPI/entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FinalAuditInfo" type="FinalAuditInfo"/>
  <xs:complexType name="FinalAuditInfo">
    <xs:complexContent>
      <xs:extension base="BillingInstructionInfo">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProducerCodeInfo" type="ProducerCodeInfo"/>
  <xs:complexType name="ProducerCodeInfo">
    <xs:sequence>
      <xs:element name="PublicID" minOccurs="0" type="xs:string"/>
      <xs:element name="Code" minOccurs="0" type="xs:string"/>
      <xs:element name="Active" minOccurs="0" type="xs:boolean"/>
      <xs:element name="CommissionPlanIDs" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
      <xs:element name="Currencies" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
      <xs:element name="CommissionPlanInfos" minOccurs="0" maxOccurs="unbounded" type="CommissionPlanInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReinstatementInfo" type="ReinstatementInfo"/>
  <xs:complexType name="ReinstatementInfo">
    <xs:complexContent>
      <xs:extension base="BillingInstructionInfo">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CommissionPlanInfo" type="CommissionPlanInfo"/>
  <xs:complexType name="CommissionPlanInfo">
    <xs:complexContent>
      <xs:extension base="PlanCurrencyInfo">
        <xs:sequence>
          <xs:element name="AllowedTiers" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NewProducerCodeInfo" type="NewProducerCodeInfo"/>
  <xs:complexType name="NewProducerCodeInfo">
    <xs:complexContent>
      <xs:extension base="ProducerCodeInfo">
        <xs:sequence>
          <xs:element name="ProducerPublicID" minOccurs="0" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PCContactInfo" type="PCContactInfo"/>
  <xs:complexType name="PCContactInfo">
    <xs:sequence>
      <xs:element name="PublicID" minOccurs="0" type="xs:string"/>
      <xs:element name="AddressBookUID" minOccurs="0" type="xs:string"/>
      <xs:element name="ContactType" minOccurs="0" type="xs:string"/>
      <xs:element name="Name" minOccurs="0" type="xs:string"/>
      <xs:element name="NameKanji" minOccurs="0" type="xs:string"/>
      <xs:element name="FirstName" minOccurs="0" type="xs:string"/>
      <xs:element name="FirstNameKanji" minOccurs="0" type="xs:string"/>
      <xs:element name="LastName" minOccurs="0" type="xs:string"/>
      <xs:element name="LastNameKanji" minOccurs="0" type="xs:string"/>
      <xs:element name="Particle" minOccurs="0" type="xs:string"/>
      <xs:element name="WorkPhone" minOccurs="0" type="xs:string"/>
      <xs:element name="WorkPhoneCountry" minOccurs="0" type="xs:string"/>
      <xs:element name="WorkPhoneExtension" minOccurs="0" type="xs:string"/>
      <xs:element name="EmailAddress1" minOccurs="0" type="xs:string"/>
      <xs:element name="Addresses" minOccurs="0" maxOccurs="unbounded" type="AddressInfo"/>
      <xs:element name="AccountNumbers" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
      <xs:element name="AccountName" minOccurs="0" type="xs:string"/>
      <xs:element name="AccountNameKanji" minOccurs="0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewInvoiceStream" type="NewInvoiceStream"/>
  <xs:complexType name="NewInvoiceStream">
    <xs:sequence>
      <xs:element name="Interval" minOccurs="0" type="xs:string"/>
      <xs:element name="PaymentMethod" minOccurs="0" type="xs:string"/>
      <xs:element name="DueDateBilling" minOccurs="0" type="xs:boolean"/>
      <xs:element name="FirstDayOfMonth" minOccurs="0" type="xs:int"/>
      <xs:element name="SecondDayOfMonth" minOccurs="0" type="xs:int"/>
      <xs:element name="DayOfWeek" minOccurs="0" type="xs:string"/>
      <xs:element name="AnchorDate" minOccurs="0" type="xs:dateTime"/>
      <xs:element name="PaymentInstrumentID" minOccurs="0" type="xs:string"/>
      <xs:element name="UnappliedDescription" minOccurs="0" type="xs:string"/>
      <xs:element name="UnappliedFundID" minOccurs="0" type="xs:string"/>
      <xs:element name="Description" minOccurs="0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressInfo" type="AddressInfo"/>
  <xs:complexType name="AddressInfo">
    <xs:sequence>
      <xs:element name="AddressBookUID" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="Primary" minOccurs="0" type="xs:boolean"/>
      <xs:element name="AddressLine1" minOccurs="0" type="xs:string"/>
      <xs:element name="AddressLine1Kanji" minOccurs="0" type="xs:string"/>
      <xs:element name="AddressLine2" minOccurs="0" type="xs:string"/>
      <xs:element name="AddressLine2Kanji" minOccurs="0" type="xs:string"/>
      <xs:element name="City" minOccurs="0" type="xs:string"/>
      <xs:element name="CityKanji" minOccurs="0" type="xs:string"/>
      <xs:element name="State" minOccurs="0" type="xs:string"/>
      <xs:element name="PostalCode" minOccurs="0" type="xs:string"/>
      <xs:element name="Country" minOccurs="0" type="xs:string"/>
      <xs:element name="CEDEX" minOccurs="0" type="xs:boolean"/>
      <xs:element name="CEDEXBureau" minOccurs="0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PCPolicyPeriodInfo" type="PCPolicyPeriodInfo"/>
  <xs:complexType name="PCPolicyPeriodInfo">
    <xs:sequence>
      <xs:element name="TermNumber" minOccurs="0" type="xs:int"/>
      <xs:element name="PolicyNumber" minOccurs="0" type="xs:string"/>
      <xs:element name="PCPolicyPublicID" minOccurs="0" type="xs:string"/>
      <xs:element name="TermConfirmed" minOccurs="0" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlanInfo" type="PlanInfo"/>
  <xs:complexType name="PlanInfo">
    <xs:sequence>
      <xs:element name="PublicID" minOccurs="0" type="xs:string"/>
      <xs:element name="Name" minOccurs="0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentAllocationPlanInfo" type="PaymentAllocationPlanInfo"/>
  <xs:complexType name="PaymentAllocationPlanInfo">
    <xs:complexContent>
      <xs:extension base="PlanInfo">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PlanCurrencyInfo" type="PlanCurrencyInfo"/>
  <xs:complexType name="PlanCurrencyInfo">
    <xs:complexContent>
      <xs:extension base="PlanInfo">
        <xs:sequence>
          <xs:element name="Currency" minOccurs="0" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PolicyChangeInfo" type="PolicyChangeInfo"/>
  <xs:complexType name="PolicyChangeInfo">
    <xs:complexContent>
      <xs:extension base="BillingInstructionInfo">
        <xs:sequence>
          <xs:element name="JurisdictionCode" minOccurs="0" type="xs:string"/>
          <xs:element name="PeriodStart" minOccurs="0" type="xs:dateTime"/>
          <xs:element name="PeriodEnd" minOccurs="0" type="xs:dateTime"/>
          <xs:element name="PrimaryNamedInsuredContact" minOccurs="0" type="PCContactInfo"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BillingInstructionInfo" type="BillingInstructionInfo"/>
  <xs:complexType name="BillingInstructionInfo">
    <xs:complexContent>
      <xs:extension base="PCPolicyPeriodInfo">
        <xs:sequence>
          <xs:element name="Description" minOccurs="0" type="xs:string"/>
          <xs:element name="ChargeInfos" minOccurs="0" maxOccurs="unbounded" type="ChargeInfo"/>
          <xs:element name="EffectiveDate" minOccurs="0" type="xs:dateTime"/>
          <xs:element name="HasScheduledFinalAudit" minOccurs="0" type="xs:boolean"/>
          <xs:element name="DepositRequirement" minOccurs="0" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AcctBillingInstructionInfo" type="AcctBillingInstructionInfo"/>
  <xs:complexType name="AcctBillingInstructionInfo">
    <xs:sequence>
      <xs:element name="AccountNumber" minOccurs="1" type="xs:string"/>
      <xs:element name="Description" minOccurs="0" type="xs:string"/>
      <xs:element name="ChargeInfos" minOccurs="0" maxOccurs="unbounded" type="ChargeInfo"/>
      <xs:element name="Currency" minOccurs="1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RenewalInfo" type="RenewalInfo"/>
  <xs:complexType name="RenewalInfo">
    <xs:complexContent>
      <xs:extension base="IssuePolicyInfo">
        <xs:sequence>
          <xs:element name="PriorTermNumber" minOccurs="0" type="xs:int"/>
          <xs:element name="PriorPolicyNumber" minOccurs="0" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChargeInfo" type="ChargeInfo"/>
  <xs:complexType name="ChargeInfo">
    <xs:sequence>
      <xs:element name="Amount" minOccurs="0" type="xs:string"/>
      <xs:element name="ChargePatternCode" minOccurs="0" type="xs:string"/>
      <xs:element name="ChargeGroup" minOccurs="0" type="xs:string"/>
      <xs:element name="WrittenDate" minOccurs="0" type="xs:dateTime"/>
      <xs:element name="RecaptureUnappliedFundID" minOccurs="0" type="xs:string"/>
      <xs:element name="ChargeCommissionRateOverrideInfos" minOccurs="0" maxOccurs="unbounded" type="ChargeCommissionRateOverrideInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChargeCommissionRateOverrideInfo" type="ChargeCommissionRateOverrideInfo"/>
  <xs:complexType name="ChargeCommissionRateOverrideInfo">
    <xs:sequence>
      <xs:element name="Role" minOccurs="1" type="xs:string"/>
      <xs:element name="Rate" minOccurs="1" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentPlanInfo" type="PaymentPlanInfo"/>
  <xs:complexType name="PaymentPlanInfo">
    <xs:complexContent>
      <xs:extension base="PlanCurrencyInfo">
        <xs:sequence>
          <xs:element name="Reporting" minOccurs="0" type="xs:boolean"/>
          <xs:element name="DownPayment" minOccurs="0" type="xs:decimal"/>
          <xs:element name="Installment" minOccurs="0" type="xs:decimal"/>
          <xs:element name="Total" minOccurs="0" type="xs:decimal"/>
          <xs:element name="Notes" minOccurs="0" type="xs:string"/>
          <xs:element name="InvoiceFrequency" minOccurs="0" type="xs:string"/>
          <xs:element name="AllowedPaymentMethods" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PCAccountInfo" type="PCAccountInfo"/>
  <xs:complexType name="PCAccountInfo">
    <xs:sequence>
      <xs:element name="AccountNumber" minOccurs="0" type="xs:string"/>
      <xs:element name="AccountName" minOccurs="0" type="xs:string"/>
      <xs:element name="AccountNameKanji" minOccurs="0" type="xs:string"/>
      <xs:element name="CustomerServiceTier" minOccurs="0" type="xs:string"/>
      <xs:element name="InsuredIsBilling" minOccurs="0" type="xs:boolean"/>
      <xs:element name="InsuredContact" minOccurs="0" type="PCContactInfo"/>
      <xs:element name="BillingContacts" minOccurs="0" maxOccurs="unbounded" type="PCContactInfo"/>
      <xs:element name="PaymentAllocationPlanPublicID" minOccurs="0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancelPolicyInfo" type="CancelPolicyInfo"/>
  <xs:complexType name="CancelPolicyInfo">
    <xs:complexContent>
      <xs:extension base="BillingInstructionInfo">
        <xs:sequence>
          <xs:element name="CancellationType" minOccurs="0" type="xs:string"/>
          <xs:element name="CancellationReason" minOccurs="0" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PremiumReportInfo" type="PremiumReportInfo"/>
  <xs:complexType name="PremiumReportInfo">
    <xs:complexContent>
      <xs:extension base="BillingInstructionInfo">
        <xs:sequence>
          <xs:element name="AuditPeriodStartDate" minOccurs="0" type="xs:dateTime"/>
          <xs:element name="AuditPeriodEndDate" minOccurs="0" type="xs:dateTime"/>
          <xs:element name="PaymentReceived" minOccurs="0" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CollateralInfo" type="CollateralInfo"/>
  <xs:complexType name="CollateralInfo">
    <xs:complexContent>
      <xs:extension base="AcctBillingInstructionInfo">
        <xs:sequence>
          <xs:element name="CollateralRequirementID" minOccurs="0" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RewriteInfo" type="RewriteInfo"/>
  <xs:complexType name="RewriteInfo">
    <xs:complexContent>
      <xs:extension base="RenewalInfo">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgencyBillPlanInfo" type="AgencyBillPlanInfo"/>
  <xs:complexType name="AgencyBillPlanInfo">
    <xs:complexContent>
      <xs:extension base="PlanCurrencyInfo">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IssuePolicyInfo" type="IssuePolicyInfo"/>
  <xs:complexType name="IssuePolicyInfo">
    <xs:complexContent>
      <xs:extension base="PolicyChangeInfo">
        <xs:sequence>
          <xs:element name="AccountNumber" minOccurs="0" type="xs:string"/>
          <xs:element name="PaymentPlanPublicId" minOccurs="0" type="xs:string"/>
          <xs:element name="ModelDate" minOccurs="0" type="xs:dateTime"/>
          <xs:element name="AssignedRisk" minOccurs="0" type="xs:boolean"/>
          <xs:element name="UWCompanyCode" minOccurs="0" type="xs:string"/>
          <xs:element name="BillingMethodCode" minOccurs="0" type="xs:string"/>
          <xs:element name="ProductCode" minOccurs="0" type="xs:string"/>
          <xs:element name="ProducerCodeOfRecordId" minOccurs="0" type="xs:string"/>
          <xs:element name="OfferNumber" minOccurs="0" type="xs:string"/>
          <xs:element name="AltBillingAccountNumber" minOccurs="0" type="xs:string"/>
          <xs:element name="InvoiceStreamId" minOccurs="0" type="xs:string"/>
          <xs:element name="NewInvoiceStream" minOccurs="0" type="NewInvoiceStream"/>
          <xs:element name="Currency" minOccurs="1" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PCProducerInfo" type="PCProducerInfo"/>
  <xs:complexType name="PCProducerInfo">
    <xs:sequence>
      <xs:element name="PublicID" minOccurs="0" type="xs:string"/>
      <xs:element name="ProducerName" minOccurs="0" type="xs:string"/>
      <xs:element name="ProducerNameKanji" minOccurs="0" type="xs:string"/>
      <xs:element name="Tier" minOccurs="0" type="xs:string"/>
      <xs:element name="PrimaryContact" minOccurs="0" type="PCContactInfo"/>
      <xs:element name="AgencyBillPlanIDs" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
      <xs:element name="Currencies" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
      <xs:element name="AgencyBillPlanInfos" minOccurs="0" maxOccurs="unbounded" type="AgencyBillPlanInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PCNewProducerInfo" type="PCNewProducerInfo"/>
  <xs:complexType name="PCNewProducerInfo">
    <xs:complexContent>
      <xs:extension base="PCProducerInfo">
        <xs:sequence>
          <xs:element name="PreferredCurrency" minOccurs="1" maxOccurs="1" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PolicyPeriodGeneralInfo" type="PolicyPeriodGeneralInfo"/>
  <xs:complexType name="PolicyPeriodGeneralInfo">
    <xs:complexContent>
      <xs:extension base="BillingInstructionInfo">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountGeneralInfo" type="AccountGeneralInfo"/>
  <xs:complexType name="AccountGeneralInfo">
    <xs:complexContent>
      <xs:extension base="AcctBillingInstructionInfo">
        <xs:sequence>
          <xs:element name="BillingInstructionDate" minOccurs="1" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>