gsrc/wsi/remote/gw/webservice/bc/bc800/PaymentInstrumentAPI.wsdl

<?xml version="1.0"?>
<wsdl:definitions targetNamespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc801/PaymentInstrumentAPI" name="PaymentInstrumentAPI" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:pogo="http://guidewire.com/bc/ws/gw/webservice/bc/bc801/PaymentInstrumentRecord" xmlns:pogo2="http://guidewire.com/bc/typekey" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://guidewire.com/bc/ws/gw/webservice/bc/bc801/PaymentInstrumentAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc801/PaymentInstrumentAPI" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="soapheaders.xsd"/>
      <xs:import namespace="http://guidewire.com/bc/typekey"/>
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc801/PaymentInstrumentRecord"/>
      <xs:element name="getPaymentInstrumentsForAccount">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getPaymentInstrumentsForAccountResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="pogo:PaymentInstrumentRecord"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SOAPServerException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="DataConversionException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="BadIdentifierException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="createPaymentInstrumentOnAccount">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="paymentInstrumentRecord" minOccurs="0" type="pogo:PaymentInstrumentRecord"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createPaymentInstrumentOnAccountResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" type="pogo:PaymentInstrumentRecord"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getPaymentInstrumentsForProducer">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="producerID" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getPaymentInstrumentsForProducerResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="pogo:PaymentInstrumentRecord"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createPaymentInstrumentOnProducer">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="producerID" type="xs:string" minOccurs="0"/>
            <xs:element name="paymentInstrumentRecord" minOccurs="0" type="pogo:PaymentInstrumentRecord"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createPaymentInstrumentOnProducerResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" type="pogo:PaymentInstrumentRecord"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc801/PaymentInstrumentRecord" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/bc/typekey"/>
      <xs:complexType name="PaymentInstrumentRecord">
        <xs:sequence>
          <xs:element name="DisplayName" type="xs:string" minOccurs="0"/>
          <xs:element name="OneTime" type="xs:boolean" minOccurs="0"/>
          <xs:element name="PaymentMethod" minOccurs="0" type="pogo2:PaymentMethod"/>
          <xs:element name="PublicID" type="xs:string" minOccurs="0"/>
          <xs:element name="Token" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/bc/typekey" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/bc/ws/gw/webservice/bc/bc801/PaymentInstrumentRecord"/>
      <xs:simpleType name="PaymentMethod">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ach"/>
          <xs:enumeration value="cash"/>
          <xs:enumeration value="check"/>
          <xs:enumeration value="creditcard"/>
          <xs:enumeration value="misc"/>
          <xs:enumeration value="responsive"/>
          <xs:enumeration value="accountunapplied"/>
          <xs:enumeration value="producerunapplied"/>
          <xs:enumeration value="wire"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="PaymentInstrumentAPIPortType">
    <wsdl:operation name="getPaymentInstrumentsForAccount">
      <wsdl:input name="getPaymentInstrumentsForAccount" message="tns:getPaymentInstrumentsForAccount"/>
      <wsdl:output name="getPaymentInstrumentsForAccountResponse" message="tns:getPaymentInstrumentsForAccountResponse"/>
      <wsdl:fault name="SOAPServerException" message="tns:SOAPServerException"/>
      <wsdl:fault name="DataConversionException" message="tns:DataConversionException"/>
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="createPaymentInstrumentOnAccount">
      <wsdl:input name="createPaymentInstrumentOnAccount" message="tns:createPaymentInstrumentOnAccount"/>
      <wsdl:output name="createPaymentInstrumentOnAccountResponse" message="tns:createPaymentInstrumentOnAccountResponse"/>
      <wsdl:fault name="SOAPServerException" message="tns:SOAPServerException"/>
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <wsdl:fault name="DataConversionException" message="tns:DataConversionException"/>
      <wsdl:fault name="DataConversionException" message="tns:DataConversionException"/>
      <wsdl:fault name="DataConversionException" message="tns:DataConversionException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="getPaymentInstrumentsForProducer">
      <wsdl:input name="getPaymentInstrumentsForProducer" message="tns:getPaymentInstrumentsForProducer"/>
      <wsdl:output name="getPaymentInstrumentsForProducerResponse" message="tns:getPaymentInstrumentsForProducerResponse"/>
      <wsdl:fault name="SOAPServerException" message="tns:SOAPServerException"/>
      <wsdl:fault name="DataConversionException" message="tns:DataConversionException"/>
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="createPaymentInstrumentOnProducer">
      <wsdl:input name="createPaymentInstrumentOnProducer" message="tns:createPaymentInstrumentOnProducer"/>
      <wsdl:output name="createPaymentInstrumentOnProducerResponse" message="tns:createPaymentInstrumentOnProducerResponse"/>
      <wsdl:fault name="SOAPServerException" message="tns:SOAPServerException"/>
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <wsdl:fault name="DataConversionException" message="tns:DataConversionException"/>
      <wsdl:fault name="DataConversionException" message="tns:DataConversionException"/>
      <wsdl:fault name="DataConversionException" message="tns:DataConversionException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentInstrumentAPISoap12Binding" type="tns:PaymentInstrumentAPIPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getPaymentInstrumentsForAccount">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getPaymentInstrumentsForAccount">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPaymentInstrumentsForAccountResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPServerException">
        <soap12:fault name="SOAPServerException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPaymentInstrumentOnAccount">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="createPaymentInstrumentOnAccount">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="createPaymentInstrumentOnAccountResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPServerException">
        <soap12:fault name="SOAPServerException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPaymentInstrumentsForProducer">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getPaymentInstrumentsForProducer">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPaymentInstrumentsForProducerResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPServerException">
        <soap12:fault name="SOAPServerException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPaymentInstrumentOnProducer">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="createPaymentInstrumentOnProducer">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="createPaymentInstrumentOnProducerResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPServerException">
        <soap12:fault name="SOAPServerException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap12:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentInstrumentAPISoap11Binding" type="tns:PaymentInstrumentAPIPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getPaymentInstrumentsForAccount">
      <soap11:operation style="document"/>
      <wsdl:input name="getPaymentInstrumentsForAccount">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPaymentInstrumentsForAccountResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPServerException">
        <soap11:fault name="SOAPServerException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPaymentInstrumentOnAccount">
      <soap11:operation style="document"/>
      <wsdl:input name="createPaymentInstrumentOnAccount">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="createPaymentInstrumentOnAccountResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPServerException">
        <soap11:fault name="SOAPServerException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPaymentInstrumentsForProducer">
      <soap11:operation style="document"/>
      <wsdl:input name="getPaymentInstrumentsForProducer">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPaymentInstrumentsForProducerResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPServerException">
        <soap11:fault name="SOAPServerException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPaymentInstrumentOnProducer">
      <soap11:operation style="document"/>
      <wsdl:input name="createPaymentInstrumentOnProducer">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="createPaymentInstrumentOnProducerResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPServerException">
        <soap11:fault name="SOAPServerException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DataConversionException">
        <soap11:fault name="DataConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentInstrumentAPI">
    <wsdl:port name="PaymentInstrumentAPISoap12Port" binding="tns:PaymentInstrumentAPISoap12Binding">
      <soap12:address location="http://localhost:8580/bc/ws/gw/webservice/bc/bc801/PaymentInstrumentAPI"/>
      <gwwsdl:address location="${bc}/ws/gw/webservice/bc/bc801/PaymentInstrumentAPI"/>
    </wsdl:port>
    <wsdl:port name="PaymentInstrumentAPISoap11Port" binding="tns:PaymentInstrumentAPISoap11Binding">
      <soap11:address location="http://localhost:8580/bc/ws/gw/webservice/bc/bc801/PaymentInstrumentAPI/soap11"/>
      <gwwsdl:address location="${bc}/ws/gw/webservice/bc/bc801/PaymentInstrumentAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="getPaymentInstrumentsForAccount">
    <wsdl:part name="parameters" element="tns:getPaymentInstrumentsForAccount"/>
  </wsdl:message>
  <wsdl:message name="getPaymentInstrumentsForAccountResponse">
    <wsdl:part name="parameters" element="tns:getPaymentInstrumentsForAccountResponse"/>
  </wsdl:message>
  <wsdl:message name="SOAPServerException">
    <wsdl:part name="SOAPServerException" element="tns:SOAPServerException"/>
  </wsdl:message>
  <wsdl:message name="DataConversionException">
    <wsdl:part name="DataConversionException" element="tns:DataConversionException"/>
  </wsdl:message>
  <wsdl:message name="BadIdentifierException">
    <wsdl:part name="BadIdentifierException" element="tns:BadIdentifierException"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="createPaymentInstrumentOnAccount">
    <wsdl:part name="parameters" element="tns:createPaymentInstrumentOnAccount"/>
  </wsdl:message>
  <wsdl:message name="createPaymentInstrumentOnAccountResponse">
    <wsdl:part name="parameters" element="tns:createPaymentInstrumentOnAccountResponse"/>
  </wsdl:message>
  <wsdl:message name="getPaymentInstrumentsForProducer">
    <wsdl:part name="parameters" element="tns:getPaymentInstrumentsForProducer"/>
  </wsdl:message>
  <wsdl:message name="getPaymentInstrumentsForProducerResponse">
    <wsdl:part name="parameters" element="tns:getPaymentInstrumentsForProducerResponse"/>
  </wsdl:message>
  <wsdl:message name="createPaymentInstrumentOnProducer">
    <wsdl:part name="parameters" element="tns:createPaymentInstrumentOnProducer"/>
  </wsdl:message>
  <wsdl:message name="createPaymentInstrumentOnProducerResponse">
    <wsdl:part name="parameters" element="tns:createPaymentInstrumentOnProducerResponse"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale">
    <wsdl:part name="gw-locale" element="gwsoap:locale"/>
  </wsdl:message>
</wsdl:definitions>