gsrc/wsi/local/gw/webservice/pc/pc800/productmodel/ProductModelAPI.wsdl

<?xml version="1.0"?>
<!-- Generated WSDL for gw.webservice.pc.pc800.productmodel.ProductModelAPI web service -->
<wsdl:definitions targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc800/productmodel/ProductModelAPI" name="ProductModelAPI" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:pogo="http://guidewire.com/pc/ws/gw/webservice/pc/pc800/productmodel/LookupRootImpl" xmlns:pogo2="http://guidewire.com/pc/typekey" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://guidewire.com/pc/ws/gw/webservice/pc/pc800/productmodel/ProductModelAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc800/productmodel/ProductModelAPI" elementFormDefault="qualified" xmlns:gw="http://guidewire.com/xsd" xmlns:imported="http://guidewire.com/pc/gx/gw.webservice.pc.pc800.gxmodel.questionsetmodel" xmlns:imported2="http://guidewire.com/pc/gx/gw.webservice.pc.pc800.gxmodel.clausepatternmodel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="../../../../../../../gw/xsd/guidewire/soapheaders.xsd"/>
      <xs:import namespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc800.gxmodel.clausepatternmodel" schemaLocation="../../../../../../../gw/webservice/pc/pc800/gxmodel/ClausePatternModel.gx"/>
      <xs:import namespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc800.gxmodel.questionsetmodel" schemaLocation="../../../../../../../gw/webservice/pc/pc800/gxmodel/QuestionSetModel.gx"/>
      <xs:import namespace="http://guidewire.com/pc/typekey"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc800/productmodel/LookupRootImpl"/>
      <!-- getAvailableQuestions(LookupRootImpl, String, Date) : List<QuestionSet> -->
      <xs:element name="getAvailableQuestions">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lookupRoot" minOccurs="0" type="pogo:LookupRootImpl"/>
            <xs:element name="offeringCode" type="xs:string" minOccurs="0"/>
            <xs:element name="lookupDate" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAvailableQuestionsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" gw:viewas="list">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="imported:QuestionSet"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SOAPException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="RequiredFieldException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="BadIdentifierException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
      <!-- getAvailableClausePatterns(LookupRootImpl, String, Date) : List<ClausePattern> -->
      <xs:element name="getAvailableClausePatterns">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lookupRoot" minOccurs="0" type="pogo:LookupRootImpl"/>
            <xs:element name="offeringCode" type="xs:string" minOccurs="0"/>
            <xs:element name="lookupDate" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAvailableClausePatternsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" gw:viewas="list">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="imported2:ClausePattern"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- synchronizeProductModel() -->
      <xs:element name="synchronizeProductModel">
        <xs:complexType/>
      </xs:element>
      <xs:element name="synchronizeProductModelResponse">
        <xs:complexType/>
      </xs:element>
      <xs:element name="ServerStateException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="SOAPServerException">
        <xs:complexType/>
      </xs:element>
      <!-- synchronizeSystemTables() -->
      <xs:element name="synchronizeSystemTables">
        <xs:complexType/>
      </xs:element>
      <xs:element name="synchronizeSystemTablesResponse">
        <xs:complexType/>
      </xs:element>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc800/productmodel/LookupRootImpl" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/pc/typekey"/>
      <xs:complexType name="LookupRootImpl">
        <xs:sequence>
          <xs:element name="CovTermPatternCode" type="xs:string" minOccurs="0"/>
          <xs:element name="IndustryCode" type="xs:string" minOccurs="0"/>
          <xs:element name="IndustryCodeType" minOccurs="0" type="pogo2:IndustryCodeType"/>
          <xs:element name="JobType" minOccurs="0" type="pogo2:Job"/>
          <xs:element name="Jurisdiction" minOccurs="0" type="pogo2:Jurisdiction"/>
          <xs:element name="LookupTypeName" type="xs:string" minOccurs="0"/>
          <xs:element name="PolicyLinePatternCode" type="xs:string" minOccurs="0"/>
          <xs:element name="PolicyType" minOccurs="0" type="pogo2:BAPolicyType"/>
          <xs:element name="ProductCode" type="xs:string" minOccurs="0"/>
          <xs:element name="UWCompanyCode" minOccurs="0" type="pogo2:UWCompanyCode"/>
          <xs:element name="VehicleType" minOccurs="0" type="pogo2:VehicleType"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/pc/typekey" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc800/productmodel/LookupRootImpl"/>
      <xs:simpleType name="IndustryCodeType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="NAICS"/>
          <xs:enumeration value="SIC"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="Job">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Audit"/>
          <xs:enumeration value="Cancellation"/>
          <xs:enumeration value="Issuance"/>
          <xs:enumeration value="Job"/>
          <xs:enumeration value="PolicyChange"/>
          <xs:enumeration value="Reinstatement"/>
          <xs:enumeration value="Renewal"/>
          <xs:enumeration value="Rewrite"/>
          <xs:enumeration value="RewriteNewAccount"/>
          <xs:enumeration value="Submission"/>
          <xs:enumeration value="TestJob"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="Jurisdiction">
        <xs:restriction base="xs:string">
          <xs:enumeration value="AU_ACT"/>
          <xs:enumeration value="AL"/>
          <xs:enumeration value="AK"/>
          <xs:enumeration value="AB"/>
          <xs:enumeration value="AZ"/>
          <xs:enumeration value="AR"/>
          <xs:enumeration value="DE_BW"/>
          <xs:enumeration value="DE_BY"/>
          <xs:enumeration value="DE_BE"/>
          <xs:enumeration value="DE_BB"/>
          <xs:enumeration value="DE_HB"/>
          <xs:enumeration value="BC"/>
          <xs:enumeration value="CA"/>
          <xs:enumeration value="CO"/>
          <xs:enumeration value="CT"/>
          <xs:enumeration value="DE"/>
          <xs:enumeration value="DC"/>
          <xs:enumeration value="FM"/>
          <xs:enumeration value="FL"/>
          <xs:enumeration value="FR"/>
          <xs:enumeration value="GA"/>
          <xs:enumeration value="GU"/>
          <xs:enumeration value="DE_HH"/>
          <xs:enumeration value="HI"/>
          <xs:enumeration value="DE_HE"/>
          <xs:enumeration value="ID"/>
          <xs:enumeration value="IL"/>
          <xs:enumeration value="IN"/>
          <xs:enumeration value="IA"/>
          <xs:enumeration value="AU_JBT"/>
          <xs:enumeration value="JP"/>
          <xs:enumeration value="KS"/>
          <xs:enumeration value="KY"/>
          <xs:enumeration value="LA"/>
          <xs:enumeration value="DE_NI"/>
          <xs:enumeration value="ME"/>
          <xs:enumeration value="MB"/>
          <xs:enumeration value="MH"/>
          <xs:enumeration value="MD"/>
          <xs:enumeration value="MA"/>
          <xs:enumeration value="DE_MV"/>
          <xs:enumeration value="MI"/>
          <xs:enumeration value="MN"/>
          <xs:enumeration value="MS"/>
          <xs:enumeration value="MO"/>
          <xs:enumeration value="MT"/>
          <xs:enumeration value="NE"/>
          <xs:enumeration value="NV"/>
          <xs:enumeration value="NB"/>
          <xs:enumeration value="NH"/>
          <xs:enumeration value="NJ"/>
          <xs:enumeration value="NM"/>
          <xs:enumeration value="AU_NSW"/>
          <xs:enumeration value="NY"/>
          <xs:enumeration value="NL"/>
          <xs:enumeration value="NC"/>
          <xs:enumeration value="ND"/>
          <xs:enumeration value="DE_NW"/>
          <xs:enumeration value="MP"/>
          <xs:enumeration value="AU_NT"/>
          <xs:enumeration value="NT"/>
          <xs:enumeration value="NS"/>
          <xs:enumeration value="NU"/>
          <xs:enumeration value="OH"/>
          <xs:enumeration value="OK"/>
          <xs:enumeration value="ON"/>
          <xs:enumeration value="OR"/>
          <xs:enumeration value="PA"/>
          <xs:enumeration value="PE"/>
          <xs:enumeration value="PR"/>
          <xs:enumeration value="QC"/>
          <xs:enumeration value="AU_QLD"/>
          <xs:enumeration value="DE_RP"/>
          <xs:enumeration value="RI"/>
          <xs:enumeration value="DE_SL"/>
          <xs:enumeration value="SK"/>
          <xs:enumeration value="DE_SN"/>
          <xs:enumeration value="DE_ST"/>
          <xs:enumeration value="DE_SH"/>
          <xs:enumeration value="AU_SA"/>
          <xs:enumeration value="SC"/>
          <xs:enumeration value="SD"/>
          <xs:enumeration value="AU_TAS"/>
          <xs:enumeration value="TN"/>
          <xs:enumeration value="TX"/>
          <xs:enumeration value="DE_TH"/>
          <xs:enumeration value="GB"/>
          <xs:enumeration value="UT"/>
          <xs:enumeration value="VT"/>
          <xs:enumeration value="AU_VIC"/>
          <xs:enumeration value="VI"/>
          <xs:enumeration value="VA"/>
          <xs:enumeration value="WA"/>
          <xs:enumeration value="WV"/>
          <xs:enumeration value="AU_WA"/>
          <xs:enumeration value="WI"/>
          <xs:enumeration value="WY"/>
          <xs:enumeration value="YT"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="BAPolicyType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="BA"/>
          <xs:enumeration value="garage"/>
          <xs:enumeration value="motor"/>
          <xs:enumeration value="BAphysdam"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="UWCompanyCode">
        <xs:restriction base="xs:string">
          <xs:enumeration value="3111_33333"/>
          <xs:enumeration value="1111_11111"/>
          <xs:enumeration value="2111_11111"/>
          <xs:enumeration value="9000_00001"/>
          <xs:enumeration value="7777_12345"/>
          <xs:enumeration value="7777_23211"/>
          <xs:enumeration value="6666_66666"/>
          <xs:enumeration value="4111_44444"/>
          <xs:enumeration value="5666_55555"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="VehicleType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Commercial"/>
          <xs:enumeration value="PP"/>
          <xs:enumeration value="PublicTransport"/>
          <xs:enumeration value="Special"/>
          <xs:enumeration value="auto"/>
          <xs:enumeration value="other"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="ProductModelAPIPortType">
    <wsdl:operation name="getAvailableQuestions">
      <wsdl:input name="getAvailableQuestions" message="tns:getAvailableQuestions"/>
      <wsdl:output name="getAvailableQuestionsResponse" message="tns:getAvailableQuestionsResponse"/>
      <!-- If communication fails -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <!-- If any required field is null -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <!-- If cannot find an instance with specified id -->
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="getAvailableClausePatterns">
      <wsdl:input name="getAvailableClausePatterns" message="tns:getAvailableClausePatterns"/>
      <wsdl:output name="getAvailableClausePatternsResponse" message="tns:getAvailableClausePatternsResponse"/>
      <!-- If communication fails -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <!-- If any required field is null -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <!-- If cannot find an instance with specified id -->
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="synchronizeProductModel">
      <wsdl:input name="synchronizeProductModel" message="tns:synchronizeProductModel"/>
      <wsdl:output name="synchronizeProductModelResponse" message="tns:synchronizeProductModelResponse"/>
      <!-- If the server is not in maintenance mode or is not in dev mode. -->
      <wsdl:fault name="ServerStateException" message="tns:ServerStateException"/>
      <!-- If the user does not have permission to access this functionality or an error occurs while doing the synchronization. -->
      <wsdl:fault name="SOAPServerException" message="tns:SOAPServerException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="synchronizeSystemTables">
      <wsdl:input name="synchronizeSystemTables" message="tns:synchronizeSystemTables"/>
      <wsdl:output name="synchronizeSystemTablesResponse" message="tns:synchronizeSystemTablesResponse"/>
      <!-- If the server is not in maintenance mode or is not in dev mode. -->
      <wsdl:fault name="ServerStateException" message="tns:ServerStateException"/>
      <!-- If the user does not have permission to access this functionality or an error occurs while doing the synchronization. -->
      <wsdl:fault name="SOAPServerException" message="tns:SOAPServerException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductModelAPISoap12Binding" type="tns:ProductModelAPIPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getAvailableQuestions">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getAvailableQuestions">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAvailableQuestionsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAvailableClausePatterns">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getAvailableClausePatterns">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAvailableClausePatternsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="synchronizeProductModel">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="synchronizeProductModel">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="synchronizeProductModelResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServerStateException">
        <soap12:fault name="ServerStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPServerException">
        <soap12:fault name="SOAPServerException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="synchronizeSystemTables">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="synchronizeSystemTables">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="synchronizeSystemTablesResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServerStateException">
        <soap12:fault name="ServerStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPServerException">
        <soap12:fault name="SOAPServerException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProductModelAPISoap11Binding" type="tns:ProductModelAPIPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getAvailableQuestions">
      <soap11:operation style="document"/>
      <wsdl:input name="getAvailableQuestions">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAvailableQuestionsResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAvailableClausePatterns">
      <soap11:operation style="document"/>
      <wsdl:input name="getAvailableClausePatterns">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAvailableClausePatternsResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="synchronizeProductModel">
      <soap11:operation style="document"/>
      <wsdl:input name="synchronizeProductModel">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="synchronizeProductModelResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServerStateException">
        <soap11:fault name="ServerStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPServerException">
        <soap11:fault name="SOAPServerException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="synchronizeSystemTables">
      <soap11:operation style="document"/>
      <wsdl:input name="synchronizeSystemTables">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="synchronizeSystemTablesResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServerStateException">
        <soap11:fault name="ServerStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SOAPServerException">
        <soap11:fault name="SOAPServerException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductModelAPI">
    <wsdl:port name="ProductModelAPISoap12Port" binding="tns:ProductModelAPISoap12Binding">
      <soap12:address location="local:///gw/webservice/pc/pc800/productmodel/ProductModelAPI"/>
    </wsdl:port>
    <wsdl:port name="ProductModelAPISoap11Port" binding="tns:ProductModelAPISoap11Binding">
      <soap11:address location="local:///gw/webservice/pc/pc800/productmodel/ProductModelAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="getAvailableQuestions">
    <wsdl:part name="parameters" element="tns:getAvailableQuestions"/>
  </wsdl:message>
  <wsdl:message name="getAvailableQuestionsResponse">
    <wsdl:part name="parameters" element="tns:getAvailableQuestionsResponse"/>
  </wsdl:message>
  <wsdl:message name="SOAPException">
    <wsdl:part name="SOAPException" element="tns:SOAPException"/>
  </wsdl:message>
  <wsdl:message name="RequiredFieldException">
    <wsdl:part name="RequiredFieldException" element="tns:RequiredFieldException"/>
  </wsdl:message>
  <wsdl:message name="BadIdentifierException">
    <wsdl:part name="BadIdentifierException" element="tns:BadIdentifierException"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="getAvailableClausePatterns">
    <wsdl:part name="parameters" element="tns:getAvailableClausePatterns"/>
  </wsdl:message>
  <wsdl:message name="getAvailableClausePatternsResponse">
    <wsdl:part name="parameters" element="tns:getAvailableClausePatternsResponse"/>
  </wsdl:message>
  <wsdl:message name="synchronizeProductModel">
    <wsdl:part name="parameters" element="tns:synchronizeProductModel"/>
  </wsdl:message>
  <wsdl:message name="synchronizeProductModelResponse">
    <wsdl:part name="parameters" element="tns:synchronizeProductModelResponse"/>
  </wsdl:message>
  <wsdl:message name="ServerStateException">
    <wsdl:part name="ServerStateException" element="tns:ServerStateException"/>
  </wsdl:message>
  <wsdl:message name="SOAPServerException">
    <wsdl:part name="SOAPServerException" element="tns:SOAPServerException"/>
  </wsdl:message>
  <wsdl:message name="synchronizeSystemTables">
    <wsdl:part name="parameters" element="tns:synchronizeSystemTables"/>
  </wsdl:message>
  <wsdl:message name="synchronizeSystemTablesResponse">
    <wsdl:part name="parameters" element="tns:synchronizeSystemTablesResponse"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale">
    <wsdl:part name="gw-locale" element="gwsoap:locale"/>
  </wsdl:message>
</wsdl:definitions>