gsrc/wsi/local/gw/webservice/pc/pc800/policy/PolicyAPI.wsdl

<?xml version="1.0"?>
<!-- Generated WSDL for gw.webservice.pc.pc800.policy.PolicyAPI web service -->
<wsdl:definitions targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc800/policy/PolicyAPI" name="PolicyAPI" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:pogo="http://guidewire.com/pc/typekey" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://guidewire.com/pc/ws/gw/webservice/pc/pc800/policy/PolicyAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc800/policy/PolicyAPI" elementFormDefault="qualified" xmlns:imported="http://guidewire.com/pc/gx/gw.webservice.pc.pc800.gxmodel.activitymodel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="../../../../../../../gw/xsd/guidewire/soapheaders.xsd"/>
      <xs:import namespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc800.gxmodel.activitymodel" schemaLocation="../../../../../../../gw/webservice/pc/pc800/gxmodel/ActivityModel.gx"/>
      <xs:import namespace="http://guidewire.com/pc/typekey"/>
      <!-- addReferralReason(String, String, String, String, String, String) : String -->
      <xs:element name="addReferralReason">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="policyId" type="xs:string" minOccurs="0"/>
            <xs:element name="issueTypeCode" type="xs:string" minOccurs="0"/>
            <xs:element name="issueKey" type="xs:string" minOccurs="0"/>
            <xs:element name="shortDescription" type="xs:string" minOccurs="0"/>
            <xs:element name="longDescription" type="xs:string" minOccurs="0"/>
            <xs:element name="value" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addReferralReasonResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SOAPException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="RequiredFieldException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="BadIdentifierException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="IllegalArgumentException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
      <!-- closeReferralReason(String, String, String) -->
      <xs:element name="closeReferralReason">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="policyId" type="xs:string" minOccurs="0"/>
            <xs:element name="issueTypeCode" type="xs:string" minOccurs="0"/>
            <xs:element name="issueKey" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="closeReferralReasonResponse">
        <xs:complexType/>
      </xs:element>
      <xs:element name="EntityStateException">
        <xs:complexType/>
      </xs:element>
      <!-- addActivityFromPatternAndAutoAssign(String, ActivityType, String, Activity) : String -->
      <xs:element name="addActivityFromPatternAndAutoAssign">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="policyId" type="xs:string" minOccurs="0"/>
            <xs:element name="activityType" minOccurs="0" type="pogo:ActivityType"/>
            <xs:element name="activityPatternCode" type="xs:string" minOccurs="0"/>
            <xs:element name="activityFields" minOccurs="0" type="imported:Activity"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addActivityFromPatternAndAutoAssignResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PermissionException">
        <xs:complexType/>
      </xs:element>
      <!-- addActivityFromPatternAndAssignToUser(String, String, String, ActivityType, String, Activity) : String -->
      <xs:element name="addActivityFromPatternAndAssignToUser">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="policyId" type="xs:string" minOccurs="0"/>
            <xs:element name="userId" type="xs:string" minOccurs="0"/>
            <xs:element name="groupId" type="xs:string" minOccurs="0"/>
            <xs:element name="activityType" minOccurs="0" type="pogo:ActivityType"/>
            <xs:element name="activityPatternCode" type="xs:string" minOccurs="0"/>
            <xs:element name="activityFields" minOccurs="0" type="imported:Activity"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addActivityFromPatternAndAssignToUserResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- addActivityFromPatternAndAssignToQueue(String, String, ActivityType, String, Activity) : String -->
      <xs:element name="addActivityFromPatternAndAssignToQueue">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="policyId" type="xs:string" minOccurs="0"/>
            <xs:element name="queueId" type="xs:string" minOccurs="0"/>
            <xs:element name="activityType" minOccurs="0" type="pogo:ActivityType"/>
            <xs:element name="activityPatternCode" type="xs:string" minOccurs="0"/>
            <xs:element name="activityFields" minOccurs="0" type="imported:Activity"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addActivityFromPatternAndAssignToQueueResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/pc/typekey" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:simpleType name="ActivityType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="assignmentreview"/>
          <xs:enumeration value="general"/>
          <xs:enumeration value="approval"/>
          <xs:enumeration value="approvaldenied"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="PolicyAPIPortType">
    <wsdl:operation name="addReferralReason">
      <wsdl:input name="addReferralReason" message="tns:addReferralReason"/>
      <wsdl:output name="addReferralReasonResponse" message="tns:addReferralReasonResponse"/>
      <!-- If communication errors occur -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <!-- If any of the policyId, issueKey or issueTypeCode arguments are null. -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <!-- If policyId does not match the PublicId of any existing Policy. -->
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <!-- If issueTypeCode does not match the code of any existing UWIssueType, if that type does not have a checking point of Referral, or if the value is incompatible with the issue type. -->
      <wsdl:fault name="IllegalArgumentException" message="tns:IllegalArgumentException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="closeReferralReason">
      <wsdl:input name="closeReferralReason" message="tns:closeReferralReason"/>
      <wsdl:output name="closeReferralReasonResponse" message="tns:closeReferralReasonResponse"/>
      <!-- If communication errors occur -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <!-- If any of the policyId, issueKey or issueTypeCode arguments are null. -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <!-- If policyId does not match the PublicId of any existing Policy. -->
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <!-- If no referral reason with the given issueTypeCode and issueKey exist on the policy. -->
      <wsdl:fault name="EntityStateException" message="tns:EntityStateException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="addActivityFromPatternAndAutoAssign">
      <wsdl:input name="addActivityFromPatternAndAutoAssign" message="tns:addActivityFromPatternAndAutoAssign"/>
      <wsdl:output name="addActivityFromPatternAndAutoAssignResponse" message="tns:addActivityFromPatternAndAutoAssignResponse"/>
      <!-- If communication errors occur -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <!-- if either policyId, activityType, or activityPatternCode are null -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <!-- if either the policyId or activityPatternId does not exist. -->
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <!-- if the caller does not have all of the following permissions: VIEW_POLICY, CREATE_ACTIVITY. -->
      <wsdl:fault name="PermissionException" message="tns:PermissionException"/>
      <!-- if there is an attempt to add an activity using an activity pattern that isn't available to the particular type of the given policy. -->
      <wsdl:fault name="EntityStateException" message="tns:EntityStateException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="addActivityFromPatternAndAssignToUser">
      <wsdl:input name="addActivityFromPatternAndAssignToUser" message="tns:addActivityFromPatternAndAssignToUser"/>
      <wsdl:output name="addActivityFromPatternAndAssignToUserResponse" message="tns:addActivityFromPatternAndAssignToUserResponse"/>
      <!-- If communication errors occur -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <!-- If cannot find entity with given identifier -->
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <!-- if the caller does not have all of the following permissions: VIEW_POLICY, CREATE_ACTIVITY. -->
      <wsdl:fault name="PermissionException" message="tns:PermissionException"/>
      <!-- if there is an attempt to add an activity using an activity pattern that isn't available to the particular type of the given policy. -->
      <wsdl:fault name="EntityStateException" message="tns:EntityStateException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="addActivityFromPatternAndAssignToQueue">
      <wsdl:input name="addActivityFromPatternAndAssignToQueue" message="tns:addActivityFromPatternAndAssignToQueue"/>
      <wsdl:output name="addActivityFromPatternAndAssignToQueueResponse" message="tns:addActivityFromPatternAndAssignToQueueResponse"/>
      <!-- If communication errors occur -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <!-- If cannot find entity with given identifier -->
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <!-- if the caller does not have all of the following permissions: VIEW_POLICY, CREATE_ACTIVITY. -->
      <wsdl:fault name="PermissionException" message="tns:PermissionException"/>
      <!-- if there is an attempt to add an activity using an activity pattern that isn't available to the particular type of the given policy. -->
      <wsdl:fault name="EntityStateException" message="tns:EntityStateException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PolicyAPISoap12Binding" type="tns:PolicyAPIPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="addReferralReason">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="addReferralReason">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="addReferralReasonResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap12:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="closeReferralReason">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="closeReferralReason">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="closeReferralReasonResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EntityStateException">
        <soap12:fault name="EntityStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addActivityFromPatternAndAutoAssign">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="addActivityFromPatternAndAutoAssign">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="addActivityFromPatternAndAutoAssignResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionException">
        <soap12:fault name="PermissionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EntityStateException">
        <soap12:fault name="EntityStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addActivityFromPatternAndAssignToUser">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="addActivityFromPatternAndAssignToUser">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="addActivityFromPatternAndAssignToUserResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionException">
        <soap12:fault name="PermissionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EntityStateException">
        <soap12:fault name="EntityStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addActivityFromPatternAndAssignToQueue">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="addActivityFromPatternAndAssignToQueue">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="addActivityFromPatternAndAssignToQueueResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionException">
        <soap12:fault name="PermissionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EntityStateException">
        <soap12:fault name="EntityStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PolicyAPISoap11Binding" type="tns:PolicyAPIPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="addReferralReason">
      <soap11:operation style="document"/>
      <wsdl:input name="addReferralReason">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="addReferralReasonResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap11:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="closeReferralReason">
      <soap11:operation style="document"/>
      <wsdl:input name="closeReferralReason">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="closeReferralReasonResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EntityStateException">
        <soap11:fault name="EntityStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addActivityFromPatternAndAutoAssign">
      <soap11:operation style="document"/>
      <wsdl:input name="addActivityFromPatternAndAutoAssign">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="addActivityFromPatternAndAutoAssignResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionException">
        <soap11:fault name="PermissionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EntityStateException">
        <soap11:fault name="EntityStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addActivityFromPatternAndAssignToUser">
      <soap11:operation style="document"/>
      <wsdl:input name="addActivityFromPatternAndAssignToUser">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="addActivityFromPatternAndAssignToUserResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionException">
        <soap11:fault name="PermissionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EntityStateException">
        <soap11:fault name="EntityStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addActivityFromPatternAndAssignToQueue">
      <soap11:operation style="document"/>
      <wsdl:input name="addActivityFromPatternAndAssignToQueue">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="addActivityFromPatternAndAssignToQueueResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionException">
        <soap11:fault name="PermissionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EntityStateException">
        <soap11:fault name="EntityStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PolicyAPI">
    <wsdl:port name="PolicyAPISoap12Port" binding="tns:PolicyAPISoap12Binding">
      <soap12:address location="local:///gw/webservice/pc/pc800/policy/PolicyAPI"/>
    </wsdl:port>
    <wsdl:port name="PolicyAPISoap11Port" binding="tns:PolicyAPISoap11Binding">
      <soap11:address location="local:///gw/webservice/pc/pc800/policy/PolicyAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="addReferralReason">
    <wsdl:part name="parameters" element="tns:addReferralReason"/>
  </wsdl:message>
  <wsdl:message name="addReferralReasonResponse">
    <wsdl:part name="parameters" element="tns:addReferralReasonResponse"/>
  </wsdl:message>
  <wsdl:message name="SOAPException">
    <wsdl:part name="SOAPException" element="tns:SOAPException"/>
  </wsdl:message>
  <wsdl:message name="RequiredFieldException">
    <wsdl:part name="RequiredFieldException" element="tns:RequiredFieldException"/>
  </wsdl:message>
  <wsdl:message name="BadIdentifierException">
    <wsdl:part name="BadIdentifierException" element="tns:BadIdentifierException"/>
  </wsdl:message>
  <wsdl:message name="IllegalArgumentException">
    <wsdl:part name="IllegalArgumentException" element="tns:IllegalArgumentException"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="closeReferralReason">
    <wsdl:part name="parameters" element="tns:closeReferralReason"/>
  </wsdl:message>
  <wsdl:message name="closeReferralReasonResponse">
    <wsdl:part name="parameters" element="tns:closeReferralReasonResponse"/>
  </wsdl:message>
  <wsdl:message name="EntityStateException">
    <wsdl:part name="EntityStateException" element="tns:EntityStateException"/>
  </wsdl:message>
  <wsdl:message name="addActivityFromPatternAndAutoAssign">
    <wsdl:part name="parameters" element="tns:addActivityFromPatternAndAutoAssign"/>
  </wsdl:message>
  <wsdl:message name="addActivityFromPatternAndAutoAssignResponse">
    <wsdl:part name="parameters" element="tns:addActivityFromPatternAndAutoAssignResponse"/>
  </wsdl:message>
  <wsdl:message name="PermissionException">
    <wsdl:part name="PermissionException" element="tns:PermissionException"/>
  </wsdl:message>
  <wsdl:message name="addActivityFromPatternAndAssignToUser">
    <wsdl:part name="parameters" element="tns:addActivityFromPatternAndAssignToUser"/>
  </wsdl:message>
  <wsdl:message name="addActivityFromPatternAndAssignToUserResponse">
    <wsdl:part name="parameters" element="tns:addActivityFromPatternAndAssignToUserResponse"/>
  </wsdl:message>
  <wsdl:message name="addActivityFromPatternAndAssignToQueue">
    <wsdl:part name="parameters" element="tns:addActivityFromPatternAndAssignToQueue"/>
  </wsdl:message>
  <wsdl:message name="addActivityFromPatternAndAssignToQueueResponse">
    <wsdl:part name="parameters" element="tns:addActivityFromPatternAndAssignToQueueResponse"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale">
    <wsdl:part name="gw-locale" element="gwsoap:locale"/>
  </wsdl:message>
</wsdl:definitions>