gsrc/wsi/local/gw/webservice/pc/pc800/MaintenanceToolsAPI.wsdl

<?xml version="1.0"?>
<!-- Generated WSDL for gw.webservice.pc.pc800.MaintenanceToolsAPI web service -->
<wsdl:definitions targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc800/MaintenanceToolsAPI" name="MaintenanceToolsAPI" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:pogo="http://guidewire.com/gw/api/tools" xmlns:pogo2="http://guidewire.com/gw/api/webservice/maintenanceTools" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://guidewire.com/pc/ws/gw/webservice/pc/pc800/MaintenanceToolsAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc800/MaintenanceToolsAPI" elementFormDefault="qualified" xmlns:gw="http://guidewire.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="../../../../../../gw/xsd/guidewire/soapheaders.xsd"/>
      <xs:import namespace="http://guidewire.com/gw/api/webservice/maintenanceTools"/>
      <xs:import namespace="http://guidewire.com/gw/api/tools"/>
      <!-- getValidBatchProcessNames() : String[] -->
      <xs:element name="getValidBatchProcessNames">
        <xs:complexType/>
      </xs:element>
      <xs:element name="getValidBatchProcessNamesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" gw:viewas="array">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" type="xs:string" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
      <!-- isBatchProcessNameValid(String) : boolean -->
      <xs:element name="isBatchProcessNameValid">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="processName" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="isBatchProcessNameValidResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RequiredFieldException">
        <xs:complexType/>
      </xs:element>
      <!-- startBatchProcess(String) : ProcessID -->
      <xs:element name="startBatchProcess">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="processName" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="startBatchProcessResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" type="pogo:ProcessID"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IllegalArgumentException">
        <xs:complexType/>
      </xs:element>
      <!-- startValidateArchiveLinksBatchProcessAll() : ProcessID -->
      <xs:element name="startValidateArchiveLinksBatchProcessAll">
        <xs:complexType/>
      </xs:element>
      <xs:element name="startValidateArchiveLinksBatchProcessAllResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" type="pogo:ProcessID"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- startValidateArchiveLinksBatchProcessByDateRange(Date, Date) : ProcessID -->
      <xs:element name="startValidateArchiveLinksBatchProcessByDateRange">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="startTime" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0"/>
            <xs:element name="endTime" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="startValidateArchiveLinksBatchProcessByDateRangeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" type="pogo:ProcessID"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- startValidateArchiveLinksBatchProcessByIds(Long[]) : ProcessID -->
      <xs:element name="startValidateArchiveLinksBatchProcessByIds">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ids" minOccurs="0" gw:viewas="array">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" type="xs:long" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="startValidateArchiveLinksBatchProcessByIdsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" type="pogo:ProcessID"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- requestTerminationOfBatchProcessByName(String) : boolean -->
      <xs:element name="requestTerminationOfBatchProcessByName">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="processName" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="requestTerminationOfBatchProcessByNameResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- requestTerminationOfBatchProcessByID(ProcessID) : boolean -->
      <xs:element name="requestTerminationOfBatchProcessByID">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="pid" minOccurs="0" type="pogo:ProcessID"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="requestTerminationOfBatchProcessByIDResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- batchProcessStatusByName(String) : ProcessStatus -->
      <xs:element name="batchProcessStatusByName">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="processName" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="batchProcessStatusByNameResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" type="pogo2:ProcessStatus"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- batchProcessStatusByID(ProcessID) : ProcessStatus -->
      <xs:element name="batchProcessStatusByID">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="pid" minOccurs="0" type="pogo:ProcessID"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="batchProcessStatusByIDResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" type="pogo2:ProcessStatus"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- whenStatsCalculated() : Date -->
      <xs:element name="whenStatsCalculated">
        <xs:complexType/>
      </xs:element>
      <xs:element name="whenStatsCalculatedResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- getWorkQueueConfig(String) : WorkQueueConfig -->
      <xs:element name="getWorkQueueConfig">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="queueName" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getWorkQueueConfigResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" type="pogo2:WorkQueueConfig"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- setWorkQueueConfig(String, WorkQueueConfig) -->
      <xs:element name="setWorkQueueConfig">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="queueName" type="xs:string" minOccurs="0"/>
            <xs:element name="config" minOccurs="0" type="pogo2:WorkQueueConfig"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setWorkQueueConfigResponse">
        <xs:complexType/>
      </xs:element>
      <!-- getWorkQueueNames() : String[] -->
      <xs:element name="getWorkQueueNames">
        <xs:complexType/>
      </xs:element>
      <xs:element name="getWorkQueueNamesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" gw:viewas="array">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" type="xs:string" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- notifyQueueWorkers(String) -->
      <xs:element name="notifyQueueWorkers">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="queueName" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="notifyQueueWorkersResponse">
        <xs:complexType/>
      </xs:element>
      <!-- stopWorkQueueWorkers(String) -->
      <xs:element name="stopWorkQueueWorkers">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="queueName" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="stopWorkQueueWorkersResponse">
        <xs:complexType/>
      </xs:element>
      <!-- startWorkQueueWorkers(String) -->
      <xs:element name="startWorkQueueWorkers">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="queueName" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="startWorkQueueWorkersResponse">
        <xs:complexType/>
      </xs:element>
      <!-- getWQueueStatus(String) : WQueueStatus -->
      <xs:element name="getWQueueStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="queueName" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getWQueueStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" type="pogo2:WQueueStatus"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- getNumActiveWorkItems(String) : int -->
      <xs:element name="getNumActiveWorkItems">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="queueName" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getNumActiveWorkItemsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- waitOnActiveWorkItems(String) : boolean -->
      <xs:element name="waitOnActiveWorkItems">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="queueName" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="waitOnActiveWorkItemsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- isPluginStarted(String) : boolean -->
      <xs:element name="isPluginStarted">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="pluginName" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="isPluginStartedResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- startPlugin(String) -->
      <xs:element name="startPlugin">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="pluginName" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="startPluginResponse">
        <xs:complexType/>
      </xs:element>
      <!-- stopPlugin(String) -->
      <xs:element name="stopPlugin">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="pluginName" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="stopPluginResponse">
        <xs:complexType/>
      </xs:element>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/gw/api/tools" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/gw/api/webservice/maintenanceTools"/>
      <xs:complexType name="ProcessID">
        <xs:sequence>
          <xs:element name="Pid" type="xs:long" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/gw/api/webservice/maintenanceTools" elementFormDefault="qualified" xmlns:gw="http://guidewire.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/gw/api/tools"/>
      <xs:complexType name="ProcessStatus">
        <xs:sequence>
          <xs:element name="DateCompleted" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0"/>
          <xs:element name="DetailedStatus" type="xs:string" minOccurs="0"/>
          <xs:element name="FailedOps" type="xs:int" minOccurs="0"/>
          <xs:element name="FailureReason" type="xs:string" minOccurs="0"/>
          <xs:element name="OpsCompleted" type="xs:int" minOccurs="0"/>
          <xs:element name="OpsExpected" type="xs:int" minOccurs="0"/>
          <xs:element name="Progress" type="xs:string" minOccurs="0"/>
          <xs:element name="Running" type="xs:boolean" minOccurs="0"/>
          <xs:element name="StartDate" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0"/>
          <xs:element name="Success" type="xs:boolean" minOccurs="0"/>
          <xs:element name="Type" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WorkQueueConfig">
        <xs:sequence>
          <xs:element name="BatchSize" type="xs:int" minOccurs="0"/>
          <xs:element name="Instances" type="xs:int" minOccurs="0"/>
          <xs:element name="MaxPollInterval" type="xs:long" minOccurs="0"/>
          <xs:element name="ThrottleInterval" type="xs:long" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WQueueStatus">
        <xs:sequence>
          <xs:element name="Executors" minOccurs="0" gw:viewas="array">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="pogo2:WQueueExecutorDetails"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="NumActiveExecutors" type="xs:int" minOccurs="0"/>
          <xs:element name="NumActiveWorkItems" type="xs:int" minOccurs="0"/>
          <xs:element name="QueueName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WQueueExecutorDetails">
        <xs:sequence>
          <xs:element name="Active" type="xs:boolean" minOccurs="0"/>
          <xs:element name="EndTime" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0"/>
          <xs:element name="Hostname" type="xs:string" minOccurs="0"/>
          <xs:element name="MaxNumOfWorkers" type="xs:int" minOccurs="0"/>
          <xs:element name="StartTime" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0"/>
          <xs:element name="Tasks" minOccurs="0" gw:viewas="array">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="pogo2:WQTaskDetails"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WQTaskDetails">
        <xs:sequence>
          <xs:element name="Active" type="xs:boolean" minOccurs="0"/>
          <xs:element name="ConsecutiveExceptions" type="xs:int" minOccurs="0"/>
          <xs:element name="EndTime" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0"/>
          <xs:element name="Exceptions" type="xs:int" minOccurs="0"/>
          <xs:element name="Hostname" type="xs:string" minOccurs="0"/>
          <xs:element name="InstanceId" type="xs:int" minOccurs="0"/>
          <xs:element name="ItemsCheckedOut" type="xs:int" minOccurs="0"/>
          <xs:element name="ItemsFailed" type="xs:int" minOccurs="0"/>
          <xs:element name="ItemsProcessed" type="xs:int" minOccurs="0"/>
          <xs:element name="ItemsSkipped" type="xs:int" minOccurs="0"/>
          <xs:element name="OrphansAdopted" type="xs:int" minOccurs="0"/>
          <xs:element name="StartTime" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="MaintenanceToolsAPIPortType">
    <wsdl:operation name="getValidBatchProcessNames">
      <wsdl:input name="getValidBatchProcessNames" message="tns:getValidBatchProcessNames"/>
      <wsdl:output name="getValidBatchProcessNamesResponse" message="tns:getValidBatchProcessNamesResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="isBatchProcessNameValid">
      <wsdl:input name="isBatchProcessNameValid" message="tns:isBatchProcessNameValid"/>
      <wsdl:output name="isBatchProcessNameValidResponse" message="tns:isBatchProcessNameValidResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
    </wsdl:operation>
    <wsdl:operation name="startBatchProcess">
      <wsdl:input name="startBatchProcess" message="tns:startBatchProcess"/>
      <wsdl:output name="startBatchProcessResponse" message="tns:startBatchProcessResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <!-- If no process exists with the given process name. -->
      <wsdl:fault name="IllegalArgumentException" message="tns:IllegalArgumentException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
    </wsdl:operation>
    <wsdl:operation name="startValidateArchiveLinksBatchProcessAll">
      <wsdl:input name="startValidateArchiveLinksBatchProcessAll" message="tns:startValidateArchiveLinksBatchProcessAll"/>
      <wsdl:output name="startValidateArchiveLinksBatchProcessAllResponse" message="tns:startValidateArchiveLinksBatchProcessAllResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="startValidateArchiveLinksBatchProcessByDateRange">
      <wsdl:input name="startValidateArchiveLinksBatchProcessByDateRange" message="tns:startValidateArchiveLinksBatchProcessByDateRange"/>
      <wsdl:output name="startValidateArchiveLinksBatchProcessByDateRangeResponse" message="tns:startValidateArchiveLinksBatchProcessByDateRangeResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
    </wsdl:operation>
    <wsdl:operation name="startValidateArchiveLinksBatchProcessByIds">
      <wsdl:input name="startValidateArchiveLinksBatchProcessByIds" message="tns:startValidateArchiveLinksBatchProcessByIds"/>
      <wsdl:output name="startValidateArchiveLinksBatchProcessByIdsResponse" message="tns:startValidateArchiveLinksBatchProcessByIdsResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
    </wsdl:operation>
    <wsdl:operation name="requestTerminationOfBatchProcessByName">
      <wsdl:input name="requestTerminationOfBatchProcessByName" message="tns:requestTerminationOfBatchProcessByName"/>
      <wsdl:output name="requestTerminationOfBatchProcessByNameResponse" message="tns:requestTerminationOfBatchProcessByNameResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
    </wsdl:operation>
    <wsdl:operation name="requestTerminationOfBatchProcessByID">
      <wsdl:input name="requestTerminationOfBatchProcessByID" message="tns:requestTerminationOfBatchProcessByID"/>
      <wsdl:output name="requestTerminationOfBatchProcessByIDResponse" message="tns:requestTerminationOfBatchProcessByIDResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <!-- Invalid processID -->
      <wsdl:fault name="IllegalArgumentException" message="tns:IllegalArgumentException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
    </wsdl:operation>
    <wsdl:operation name="batchProcessStatusByName">
      <wsdl:input name="batchProcessStatusByName" message="tns:batchProcessStatusByName"/>
      <wsdl:output name="batchProcessStatusByNameResponse" message="tns:batchProcessStatusByNameResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <!-- If no process exists with the given process name. -->
      <wsdl:fault name="IllegalArgumentException" message="tns:IllegalArgumentException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
    </wsdl:operation>
    <wsdl:operation name="batchProcessStatusByID">
      <wsdl:input name="batchProcessStatusByID" message="tns:batchProcessStatusByID"/>
      <wsdl:output name="batchProcessStatusByIDResponse" message="tns:batchProcessStatusByIDResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <!-- If no process exists with the given process id or invalid ProcessID. -->
      <wsdl:fault name="IllegalArgumentException" message="tns:IllegalArgumentException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
    </wsdl:operation>
    <wsdl:operation name="whenStatsCalculated">
      <wsdl:input name="whenStatsCalculated" message="tns:whenStatsCalculated"/>
      <wsdl:output name="whenStatsCalculatedResponse" message="tns:whenStatsCalculatedResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="getWorkQueueConfig">
      <wsdl:input name="getWorkQueueConfig" message="tns:getWorkQueueConfig"/>
      <wsdl:output name="getWorkQueueConfigResponse" message="tns:getWorkQueueConfigResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <!-- If no work queue exists with the given name. -->
      <wsdl:fault name="IllegalArgumentException" message="tns:IllegalArgumentException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
    </wsdl:operation>
    <wsdl:operation name="setWorkQueueConfig">
      <wsdl:input name="setWorkQueueConfig" message="tns:setWorkQueueConfig"/>
      <wsdl:output name="setWorkQueueConfigResponse" message="tns:setWorkQueueConfigResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <!-- If no work queue exists with the given name. -->
      <wsdl:fault name="IllegalArgumentException" message="tns:IllegalArgumentException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
    </wsdl:operation>
    <wsdl:operation name="getWorkQueueNames">
      <wsdl:input name="getWorkQueueNames" message="tns:getWorkQueueNames"/>
      <wsdl:output name="getWorkQueueNamesResponse" message="tns:getWorkQueueNamesResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="notifyQueueWorkers">
      <wsdl:input name="notifyQueueWorkers" message="tns:notifyQueueWorkers"/>
      <wsdl:output name="notifyQueueWorkersResponse" message="tns:notifyQueueWorkersResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <!-- If no work queue exists with the given name. -->
      <wsdl:fault name="IllegalArgumentException" message="tns:IllegalArgumentException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
    </wsdl:operation>
    <wsdl:operation name="stopWorkQueueWorkers">
      <wsdl:input name="stopWorkQueueWorkers" message="tns:stopWorkQueueWorkers"/>
      <wsdl:output name="stopWorkQueueWorkersResponse" message="tns:stopWorkQueueWorkersResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <!-- If no work queue exists with the given name. -->
      <wsdl:fault name="IllegalArgumentException" message="tns:IllegalArgumentException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
    </wsdl:operation>
    <wsdl:operation name="startWorkQueueWorkers">
      <wsdl:input name="startWorkQueueWorkers" message="tns:startWorkQueueWorkers"/>
      <wsdl:output name="startWorkQueueWorkersResponse" message="tns:startWorkQueueWorkersResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <!-- If no work queue exists with the given name. -->
      <wsdl:fault name="IllegalArgumentException" message="tns:IllegalArgumentException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
    </wsdl:operation>
    <wsdl:operation name="getWQueueStatus">
      <wsdl:input name="getWQueueStatus" message="tns:getWQueueStatus"/>
      <wsdl:output name="getWQueueStatusResponse" message="tns:getWQueueStatusResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <!-- If no work queue exists with the given name. -->
      <wsdl:fault name="IllegalArgumentException" message="tns:IllegalArgumentException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
    </wsdl:operation>
    <wsdl:operation name="getNumActiveWorkItems">
      <wsdl:input name="getNumActiveWorkItems" message="tns:getNumActiveWorkItems"/>
      <wsdl:output name="getNumActiveWorkItemsResponse" message="tns:getNumActiveWorkItemsResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <!-- If no work queue exists with the given name. -->
      <wsdl:fault name="IllegalArgumentException" message="tns:IllegalArgumentException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
    </wsdl:operation>
    <wsdl:operation name="waitOnActiveWorkItems">
      <wsdl:input name="waitOnActiveWorkItems" message="tns:waitOnActiveWorkItems"/>
      <wsdl:output name="waitOnActiveWorkItemsResponse" message="tns:waitOnActiveWorkItemsResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <!-- If no work queue exists with the given name. -->
      <wsdl:fault name="IllegalArgumentException" message="tns:IllegalArgumentException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
    </wsdl:operation>
    <wsdl:operation name="isPluginStarted">
      <wsdl:input name="isPluginStarted" message="tns:isPluginStarted"/>
      <wsdl:output name="isPluginStartedResponse" message="tns:isPluginStartedResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <!-- If no plugin exists with the given name. -->
      <wsdl:fault name="IllegalArgumentException" message="tns:IllegalArgumentException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
    </wsdl:operation>
    <wsdl:operation name="startPlugin">
      <wsdl:input name="startPlugin" message="tns:startPlugin"/>
      <wsdl:output name="startPluginResponse" message="tns:startPluginResponse"/>
      <!-- if invalid plugin name -->
      <wsdl:fault name="IllegalArgumentException" message="tns:IllegalArgumentException"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
    </wsdl:operation>
    <wsdl:operation name="stopPlugin">
      <wsdl:input name="stopPlugin" message="tns:stopPlugin"/>
      <wsdl:output name="stopPluginResponse" message="tns:stopPluginResponse"/>
      <!-- if invalid plugin name -->
      <wsdl:fault name="IllegalArgumentException" message="tns:IllegalArgumentException"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MaintenanceToolsAPISoap12Binding" type="tns:MaintenanceToolsAPIPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getValidBatchProcessNames">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getValidBatchProcessNames">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getValidBatchProcessNamesResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isBatchProcessNameValid">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="isBatchProcessNameValid">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="isBatchProcessNameValidResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startBatchProcess">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="startBatchProcess">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="startBatchProcessResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap12:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startValidateArchiveLinksBatchProcessAll">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="startValidateArchiveLinksBatchProcessAll">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="startValidateArchiveLinksBatchProcessAllResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startValidateArchiveLinksBatchProcessByDateRange">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="startValidateArchiveLinksBatchProcessByDateRange">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="startValidateArchiveLinksBatchProcessByDateRangeResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startValidateArchiveLinksBatchProcessByIds">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="startValidateArchiveLinksBatchProcessByIds">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="startValidateArchiveLinksBatchProcessByIdsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="requestTerminationOfBatchProcessByName">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="requestTerminationOfBatchProcessByName">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="requestTerminationOfBatchProcessByNameResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="requestTerminationOfBatchProcessByID">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="requestTerminationOfBatchProcessByID">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="requestTerminationOfBatchProcessByIDResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap12:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="batchProcessStatusByName">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="batchProcessStatusByName">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="batchProcessStatusByNameResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap12:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="batchProcessStatusByID">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="batchProcessStatusByID">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="batchProcessStatusByIDResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap12:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="whenStatsCalculated">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="whenStatsCalculated">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="whenStatsCalculatedResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getWorkQueueConfig">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getWorkQueueConfig">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getWorkQueueConfigResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap12:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setWorkQueueConfig">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="setWorkQueueConfig">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="setWorkQueueConfigResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap12:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getWorkQueueNames">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getWorkQueueNames">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getWorkQueueNamesResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="notifyQueueWorkers">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="notifyQueueWorkers">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="notifyQueueWorkersResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap12:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="stopWorkQueueWorkers">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="stopWorkQueueWorkers">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="stopWorkQueueWorkersResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap12:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startWorkQueueWorkers">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="startWorkQueueWorkers">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="startWorkQueueWorkersResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap12:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getWQueueStatus">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getWQueueStatus">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getWQueueStatusResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap12:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNumActiveWorkItems">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getNumActiveWorkItems">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNumActiveWorkItemsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap12:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="waitOnActiveWorkItems">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="waitOnActiveWorkItems">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="waitOnActiveWorkItemsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap12:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isPluginStarted">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="isPluginStarted">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="isPluginStartedResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap12:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startPlugin">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="startPlugin">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="startPluginResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IllegalArgumentException">
        <soap12:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="stopPlugin">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="stopPlugin">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="stopPluginResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IllegalArgumentException">
        <soap12:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MaintenanceToolsAPISoap11Binding" type="tns:MaintenanceToolsAPIPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getValidBatchProcessNames">
      <soap11:operation style="document"/>
      <wsdl:input name="getValidBatchProcessNames">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getValidBatchProcessNamesResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isBatchProcessNameValid">
      <soap11:operation style="document"/>
      <wsdl:input name="isBatchProcessNameValid">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="isBatchProcessNameValidResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startBatchProcess">
      <soap11:operation style="document"/>
      <wsdl:input name="startBatchProcess">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="startBatchProcessResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap11:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startValidateArchiveLinksBatchProcessAll">
      <soap11:operation style="document"/>
      <wsdl:input name="startValidateArchiveLinksBatchProcessAll">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="startValidateArchiveLinksBatchProcessAllResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startValidateArchiveLinksBatchProcessByDateRange">
      <soap11:operation style="document"/>
      <wsdl:input name="startValidateArchiveLinksBatchProcessByDateRange">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="startValidateArchiveLinksBatchProcessByDateRangeResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startValidateArchiveLinksBatchProcessByIds">
      <soap11:operation style="document"/>
      <wsdl:input name="startValidateArchiveLinksBatchProcessByIds">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="startValidateArchiveLinksBatchProcessByIdsResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="requestTerminationOfBatchProcessByName">
      <soap11:operation style="document"/>
      <wsdl:input name="requestTerminationOfBatchProcessByName">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="requestTerminationOfBatchProcessByNameResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="requestTerminationOfBatchProcessByID">
      <soap11:operation style="document"/>
      <wsdl:input name="requestTerminationOfBatchProcessByID">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="requestTerminationOfBatchProcessByIDResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap11:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="batchProcessStatusByName">
      <soap11:operation style="document"/>
      <wsdl:input name="batchProcessStatusByName">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="batchProcessStatusByNameResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap11:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="batchProcessStatusByID">
      <soap11:operation style="document"/>
      <wsdl:input name="batchProcessStatusByID">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="batchProcessStatusByIDResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap11:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="whenStatsCalculated">
      <soap11:operation style="document"/>
      <wsdl:input name="whenStatsCalculated">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="whenStatsCalculatedResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getWorkQueueConfig">
      <soap11:operation style="document"/>
      <wsdl:input name="getWorkQueueConfig">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getWorkQueueConfigResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap11:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setWorkQueueConfig">
      <soap11:operation style="document"/>
      <wsdl:input name="setWorkQueueConfig">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="setWorkQueueConfigResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap11:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getWorkQueueNames">
      <soap11:operation style="document"/>
      <wsdl:input name="getWorkQueueNames">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getWorkQueueNamesResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="notifyQueueWorkers">
      <soap11:operation style="document"/>
      <wsdl:input name="notifyQueueWorkers">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="notifyQueueWorkersResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap11:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="stopWorkQueueWorkers">
      <soap11:operation style="document"/>
      <wsdl:input name="stopWorkQueueWorkers">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="stopWorkQueueWorkersResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap11:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startWorkQueueWorkers">
      <soap11:operation style="document"/>
      <wsdl:input name="startWorkQueueWorkers">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="startWorkQueueWorkersResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap11:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getWQueueStatus">
      <soap11:operation style="document"/>
      <wsdl:input name="getWQueueStatus">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getWQueueStatusResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap11:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNumActiveWorkItems">
      <soap11:operation style="document"/>
      <wsdl:input name="getNumActiveWorkItems">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNumActiveWorkItemsResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap11:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="waitOnActiveWorkItems">
      <soap11:operation style="document"/>
      <wsdl:input name="waitOnActiveWorkItems">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="waitOnActiveWorkItemsResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap11:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isPluginStarted">
      <soap11:operation style="document"/>
      <wsdl:input name="isPluginStarted">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="isPluginStartedResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IllegalArgumentException">
        <soap11:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startPlugin">
      <soap11:operation style="document"/>
      <wsdl:input name="startPlugin">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="startPluginResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IllegalArgumentException">
        <soap11:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="stopPlugin">
      <soap11:operation style="document"/>
      <wsdl:input name="stopPlugin">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="stopPluginResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IllegalArgumentException">
        <soap11:fault name="IllegalArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MaintenanceToolsAPI">
    <wsdl:port name="MaintenanceToolsAPISoap12Port" binding="tns:MaintenanceToolsAPISoap12Binding">
      <soap12:address location="local:///gw/webservice/pc/pc800/MaintenanceToolsAPI"/>
    </wsdl:port>
    <wsdl:port name="MaintenanceToolsAPISoap11Port" binding="tns:MaintenanceToolsAPISoap11Binding">
      <soap11:address location="local:///gw/webservice/pc/pc800/MaintenanceToolsAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="getValidBatchProcessNames">
    <wsdl:part name="parameters" element="tns:getValidBatchProcessNames"/>
  </wsdl:message>
  <wsdl:message name="getValidBatchProcessNamesResponse">
    <wsdl:part name="parameters" element="tns:getValidBatchProcessNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="isBatchProcessNameValid">
    <wsdl:part name="parameters" element="tns:isBatchProcessNameValid"/>
  </wsdl:message>
  <wsdl:message name="isBatchProcessNameValidResponse">
    <wsdl:part name="parameters" element="tns:isBatchProcessNameValidResponse"/>
  </wsdl:message>
  <wsdl:message name="RequiredFieldException">
    <wsdl:part name="RequiredFieldException" element="tns:RequiredFieldException"/>
  </wsdl:message>
  <wsdl:message name="startBatchProcess">
    <wsdl:part name="parameters" element="tns:startBatchProcess"/>
  </wsdl:message>
  <wsdl:message name="startBatchProcessResponse">
    <wsdl:part name="parameters" element="tns:startBatchProcessResponse"/>
  </wsdl:message>
  <wsdl:message name="IllegalArgumentException">
    <wsdl:part name="IllegalArgumentException" element="tns:IllegalArgumentException"/>
  </wsdl:message>
  <wsdl:message name="startValidateArchiveLinksBatchProcessAll">
    <wsdl:part name="parameters" element="tns:startValidateArchiveLinksBatchProcessAll"/>
  </wsdl:message>
  <wsdl:message name="startValidateArchiveLinksBatchProcessAllResponse">
    <wsdl:part name="parameters" element="tns:startValidateArchiveLinksBatchProcessAllResponse"/>
  </wsdl:message>
  <wsdl:message name="startValidateArchiveLinksBatchProcessByDateRange">
    <wsdl:part name="parameters" element="tns:startValidateArchiveLinksBatchProcessByDateRange"/>
  </wsdl:message>
  <wsdl:message name="startValidateArchiveLinksBatchProcessByDateRangeResponse">
    <wsdl:part name="parameters" element="tns:startValidateArchiveLinksBatchProcessByDateRangeResponse"/>
  </wsdl:message>
  <wsdl:message name="startValidateArchiveLinksBatchProcessByIds">
    <wsdl:part name="parameters" element="tns:startValidateArchiveLinksBatchProcessByIds"/>
  </wsdl:message>
  <wsdl:message name="startValidateArchiveLinksBatchProcessByIdsResponse">
    <wsdl:part name="parameters" element="tns:startValidateArchiveLinksBatchProcessByIdsResponse"/>
  </wsdl:message>
  <wsdl:message name="requestTerminationOfBatchProcessByName">
    <wsdl:part name="parameters" element="tns:requestTerminationOfBatchProcessByName"/>
  </wsdl:message>
  <wsdl:message name="requestTerminationOfBatchProcessByNameResponse">
    <wsdl:part name="parameters" element="tns:requestTerminationOfBatchProcessByNameResponse"/>
  </wsdl:message>
  <wsdl:message name="requestTerminationOfBatchProcessByID">
    <wsdl:part name="parameters" element="tns:requestTerminationOfBatchProcessByID"/>
  </wsdl:message>
  <wsdl:message name="requestTerminationOfBatchProcessByIDResponse">
    <wsdl:part name="parameters" element="tns:requestTerminationOfBatchProcessByIDResponse"/>
  </wsdl:message>
  <wsdl:message name="batchProcessStatusByName">
    <wsdl:part name="parameters" element="tns:batchProcessStatusByName"/>
  </wsdl:message>
  <wsdl:message name="batchProcessStatusByNameResponse">
    <wsdl:part name="parameters" element="tns:batchProcessStatusByNameResponse"/>
  </wsdl:message>
  <wsdl:message name="batchProcessStatusByID">
    <wsdl:part name="parameters" element="tns:batchProcessStatusByID"/>
  </wsdl:message>
  <wsdl:message name="batchProcessStatusByIDResponse">
    <wsdl:part name="parameters" element="tns:batchProcessStatusByIDResponse"/>
  </wsdl:message>
  <wsdl:message name="whenStatsCalculated">
    <wsdl:part name="parameters" element="tns:whenStatsCalculated"/>
  </wsdl:message>
  <wsdl:message name="whenStatsCalculatedResponse">
    <wsdl:part name="parameters" element="tns:whenStatsCalculatedResponse"/>
  </wsdl:message>
  <wsdl:message name="getWorkQueueConfig">
    <wsdl:part name="parameters" element="tns:getWorkQueueConfig"/>
  </wsdl:message>
  <wsdl:message name="getWorkQueueConfigResponse">
    <wsdl:part name="parameters" element="tns:getWorkQueueConfigResponse"/>
  </wsdl:message>
  <wsdl:message name="setWorkQueueConfig">
    <wsdl:part name="parameters" element="tns:setWorkQueueConfig"/>
  </wsdl:message>
  <wsdl:message name="setWorkQueueConfigResponse">
    <wsdl:part name="parameters" element="tns:setWorkQueueConfigResponse"/>
  </wsdl:message>
  <wsdl:message name="getWorkQueueNames">
    <wsdl:part name="parameters" element="tns:getWorkQueueNames"/>
  </wsdl:message>
  <wsdl:message name="getWorkQueueNamesResponse">
    <wsdl:part name="parameters" element="tns:getWorkQueueNamesResponse"/>
  </wsdl:message>
  <wsdl:message name="notifyQueueWorkers">
    <wsdl:part name="parameters" element="tns:notifyQueueWorkers"/>
  </wsdl:message>
  <wsdl:message name="notifyQueueWorkersResponse">
    <wsdl:part name="parameters" element="tns:notifyQueueWorkersResponse"/>
  </wsdl:message>
  <wsdl:message name="stopWorkQueueWorkers">
    <wsdl:part name="parameters" element="tns:stopWorkQueueWorkers"/>
  </wsdl:message>
  <wsdl:message name="stopWorkQueueWorkersResponse">
    <wsdl:part name="parameters" element="tns:stopWorkQueueWorkersResponse"/>
  </wsdl:message>
  <wsdl:message name="startWorkQueueWorkers">
    <wsdl:part name="parameters" element="tns:startWorkQueueWorkers"/>
  </wsdl:message>
  <wsdl:message name="startWorkQueueWorkersResponse">
    <wsdl:part name="parameters" element="tns:startWorkQueueWorkersResponse"/>
  </wsdl:message>
  <wsdl:message name="getWQueueStatus">
    <wsdl:part name="parameters" element="tns:getWQueueStatus"/>
  </wsdl:message>
  <wsdl:message name="getWQueueStatusResponse">
    <wsdl:part name="parameters" element="tns:getWQueueStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="getNumActiveWorkItems">
    <wsdl:part name="parameters" element="tns:getNumActiveWorkItems"/>
  </wsdl:message>
  <wsdl:message name="getNumActiveWorkItemsResponse">
    <wsdl:part name="parameters" element="tns:getNumActiveWorkItemsResponse"/>
  </wsdl:message>
  <wsdl:message name="waitOnActiveWorkItems">
    <wsdl:part name="parameters" element="tns:waitOnActiveWorkItems"/>
  </wsdl:message>
  <wsdl:message name="waitOnActiveWorkItemsResponse">
    <wsdl:part name="parameters" element="tns:waitOnActiveWorkItemsResponse"/>
  </wsdl:message>
  <wsdl:message name="isPluginStarted">
    <wsdl:part name="parameters" element="tns:isPluginStarted"/>
  </wsdl:message>
  <wsdl:message name="isPluginStartedResponse">
    <wsdl:part name="parameters" element="tns:isPluginStartedResponse"/>
  </wsdl:message>
  <wsdl:message name="startPlugin">
    <wsdl:part name="parameters" element="tns:startPlugin"/>
  </wsdl:message>
  <wsdl:message name="startPluginResponse">
    <wsdl:part name="parameters" element="tns:startPluginResponse"/>
  </wsdl:message>
  <wsdl:message name="stopPlugin">
    <wsdl:part name="parameters" element="tns:stopPlugin"/>
  </wsdl:message>
  <wsdl:message name="stopPluginResponse">
    <wsdl:part name="parameters" element="tns:stopPluginResponse"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale">
    <wsdl:part name="gw-locale" element="gwsoap:locale"/>
  </wsdl:message>
</wsdl:definitions>