config/resources/systables.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- Root element for the systables configuration -->
  <xsd:element name="Systables">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" minOccurs="0" ref="FileDefinition"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <!-- Defines a file in the systables. -->
  <xsd:element name="FileDefinition">
    <xsd:complexType>
      <xsd:choice>
        <xsd:sequence>
          <!-- The order of the Entity definitions will determine the order they appear in files that are saved from
               Studio and should correspond to a safe ordering. -->
          <xsd:element maxOccurs="unbounded" minOccurs="1" ref="Entity"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Dependency"/>
        </xsd:sequence>
      </xsd:choice>
      <!-- This is the name of the file (relative to the systables directory), including the suffix. -->
      <xsd:attribute name="Name" type="xsd:NMTOKEN" use="required"/>
      <!-- This is the priority with which this file should be loaded (in ascending order).
           Files with equivalent Priorities will be loaded concurrently. -->
      <xsd:attribute name="Priority" type="xsd:int" use="required"/>
      <!--Set this to true if this file is managed by an external system. -->
      <xsd:attribute name="ExternallyManaged" type="xsd:boolean" use="optional"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Defines a dependency between one file definition and some other file(s). -->
  <xsd:element name="Dependency">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" minOccurs="1" ref="Entity"/>
      </xsd:sequence>
      <!-- This is the name of the file or directory (relative to the productmodel directory), including the suffix. -->
      <xsd:attribute name="Name" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Defines an entity that appears within a file definition or dependency in the systables. -->
  <xsd:element name="Entity">
    <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="Column"/>
        </xsd:sequence>
        <!-- This is the type of the entity, represented as a string. -->
        <xsd:attribute name="Type" type="xsd:NMTOKEN" use="required"/>
        <xsd:attribute name="Verifier" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>

    <!-- Defines an column that appears within an entity definition in the systables. By default, a column has a display
         name equal to the name, is visible, not read-only and not auto-generated. The exception to this rule is PublicID,
         where the value is not visible, read-only and auto-generated whenever a column entry is not defined. -->
    <xsd:element name="Column">
      <xsd:complexType>
        <!-- This is the name of the column -->
        <xsd:attribute name="Name" type="xsd:string" use="required"/>
        <!-- This marks whether the column is visible in Studio. -->
        <xsd:attribute name="Visible" type="xsd:boolean" use="required"/>
        <!-- This is the optional overriding display name of the column. Can be a Studio display key or a string literal. -->
        <xsd:attribute name="DisplayName" type="xsd:string" use="optional"/>
        <!-- This marks whether the column values are locked once the row has been created. By default, all columns are editable. -->
        <xsd:attribute name="ReadOnly" type="xsd:boolean" use="optional" default="false"/>
        <!-- This marks whether adding a row should automatically create a random, unique value for this column.
             By default, all values are manually entered.
             This behavior is undefined and unsupported for any columns that are not strings. -->
        <xsd:attribute name="AutoGenerated" type="xsd:boolean" use="optional" default="false"/>
      </xsd:complexType>
    </xsd:element>

</xsd:schema>
