gsrc/wsi/local/gw/webservice/pc/pc800/ccintegration/CCPolicySearchIntegration.wsdl

<?xml version="1.0"?>
<!-- Generated WSDL for gw.webservice.pc.pc800.ccintegration.CCPolicySearchIntegration web service -->
<wsdl:definitions targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc800/ccintegration/CCPolicySearchIntegration" name="CCPolicySearchIntegration" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://guidewire.com/pc/ws/gw/webservice/pc/pc800/ccintegration/CCPolicySearchIntegration" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc800/ccintegration/CCPolicySearchIntegration" elementFormDefault="qualified" xmlns:gw="http://guidewire.com/xsd" xmlns:imported="http://guidewire.com/pc/ccintegration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="../../../../../../../gw/xsd/guidewire/soapheaders.xsd"/>
      <xs:import namespace="http://guidewire.com/pc/ccintegration" schemaLocation="../../../../../../../gw/webservice/pc/pc800/ccintegration/entities.xsd"/>
      <!-- searchForPolicies(CCPCSearchCriteria, CCPCFilteringCriteria) : CCPolicySummary[] -->
      <xs:element name="searchForPolicies">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="criteria" minOccurs="0" type="imported:CCPCSearchCriteria"/>
            <xs:element name="filter" minOccurs="0" type="imported:CCPCFilteringCriteria"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="searchForPoliciesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" gw:viewas="array">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="imported:CCPolicySummary"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SOAPException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="RequiredFieldException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
      <!-- retrievePolicy(String, Date, CCPCFilteringCriteria) : Envelope -->
      <xs:element name="retrievePolicy">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="policyNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="asOfDate" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0"/>
            <xs:element name="filter" minOccurs="0" type="imported:CCPCFilteringCriteria"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="retrievePolicyResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="imported:Envelope"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="CCPolicySearchIntegrationPortType">
    <wsdl:operation name="searchForPolicies">
      <wsdl:input name="searchForPolicies" message="tns:searchForPolicies"/>
      <wsdl:output name="searchForPoliciesResponse" message="tns:searchForPoliciesResponse"/>
      <!-- If too many results were returned by the search -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <!-- If criteria is null -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="retrievePolicy">
      <wsdl:input name="retrievePolicy" message="tns:retrievePolicy"/>
      <wsdl:output name="retrievePolicyResponse" message="tns:retrievePolicyResponse"/>
      <!-- If too many results were returned by the search -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <!-- If criteria is null -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CCPolicySearchIntegrationSoap12Binding" type="tns:CCPolicySearchIntegrationPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="searchForPolicies">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="searchForPolicies">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchForPoliciesResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrievePolicy">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="retrievePolicy">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrievePolicyResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CCPolicySearchIntegrationSoap11Binding" type="tns:CCPolicySearchIntegrationPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="searchForPolicies">
      <soap11:operation style="document"/>
      <wsdl:input name="searchForPolicies">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchForPoliciesResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrievePolicy">
      <soap11:operation style="document"/>
      <wsdl:input name="retrievePolicy">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrievePolicyResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CCPolicySearchIntegration">
    <wsdl:port name="CCPolicySearchIntegrationSoap12Port" binding="tns:CCPolicySearchIntegrationSoap12Binding">
      <soap12:address location="local:///gw/webservice/pc/pc800/ccintegration/CCPolicySearchIntegration"/>
    </wsdl:port>
    <wsdl:port name="CCPolicySearchIntegrationSoap11Port" binding="tns:CCPolicySearchIntegrationSoap11Binding">
      <soap11:address location="local:///gw/webservice/pc/pc800/ccintegration/CCPolicySearchIntegration/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="searchForPolicies">
    <wsdl:part name="parameters" element="tns:searchForPolicies"/>
  </wsdl:message>
  <wsdl:message name="searchForPoliciesResponse">
    <wsdl:part name="parameters" element="tns:searchForPoliciesResponse"/>
  </wsdl:message>
  <wsdl:message name="SOAPException">
    <wsdl:part name="SOAPException" element="tns:SOAPException"/>
  </wsdl:message>
  <wsdl:message name="RequiredFieldException">
    <wsdl:part name="RequiredFieldException" element="tns:RequiredFieldException"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="retrievePolicy">
    <wsdl:part name="parameters" element="tns:retrievePolicy"/>
  </wsdl:message>
  <wsdl:message name="retrievePolicyResponse">
    <wsdl:part name="parameters" element="tns:retrievePolicyResponse"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale">
    <wsdl:part name="gw-locale" element="gwsoap:locale"/>
  </wsdl:message>
</wsdl:definitions>