gsrc/wsi/local/gw/webservice/pc/pc700/job/JobAPI.wsdl

<?xml version="1.0"?>
<!-- Generated WSDL for gw.webservice.pc.pc700.job.JobAPI web service -->
<wsdl:definitions targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc700/job/JobAPI" name="JobAPI" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://guidewire.com/pc/ws/gw/webservice/pc/pc700/job/JobAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc700/job/JobAPI" elementFormDefault="qualified" xmlns:imported="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.activitymodel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="../../../../../../../gw/xsd/guidewire/soapheaders.xsd"/>
      <xs:import namespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc700.gxmodel.activitymodel" schemaLocation="../../../../../../../gw/webservice/pc/pc700/gxmodel/ActivityModel.gx"/>
      <!-- addActivityFromPatternAndAssignToUser(String, String, String, String, Activity) : String -->
      <xs:element name="addActivityFromPatternAndAssignToUser">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="jobId" type="xs:string" minOccurs="0"/>
            <xs:element name="activityPatternId" type="xs:string" minOccurs="0"/>
            <xs:element name="userId" type="xs:string" minOccurs="0"/>
            <xs:element name="groupId" type="xs:string" minOccurs="0"/>
            <xs:element name="activityFields" minOccurs="0" type="imported:Activity"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addActivityFromPatternAndAssignToUserResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SOAPException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="RequiredFieldException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="BadIdentifierException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="PermissionException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="EntityStateException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
      <!-- addActivityFromPatternAndAssignToQueue(String, String, String, Activity) : String -->
      <xs:element name="addActivityFromPatternAndAssignToQueue">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="jobId" type="xs:string" minOccurs="0"/>
            <xs:element name="activityPatternId" type="xs:string" minOccurs="0"/>
            <xs:element name="queueId" type="xs:string" minOccurs="0"/>
            <xs:element name="activityFields" minOccurs="0" type="imported:Activity"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addActivityFromPatternAndAssignToQueueResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- addActivityFromPatternAndAutoAssign(String, String, Activity) : String -->
      <xs:element name="addActivityFromPatternAndAutoAssign">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="jobId" type="xs:string" minOccurs="0"/>
            <xs:element name="activityPatternId" type="xs:string" minOccurs="0"/>
            <xs:element name="activityFields" minOccurs="0" type="imported:Activity"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addActivityFromPatternAndAutoAssignResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- findJobPublicIdByJobNumber(String) : String -->
      <xs:element name="findJobPublicIdByJobNumber">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="jobNumber" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findJobPublicIdByJobNumberResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- withdrawJob(String) -->
      <xs:element name="withdrawJob">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="jobId" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="withdrawJobResponse">
        <xs:complexType/>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="JobAPIPortType">
    <wsdl:operation name="addActivityFromPatternAndAssignToUser">
      <wsdl:documentation>@deprecated: As of 8.0 use gw.webservice.pc.pc800.job.JobAPI instead</wsdl:documentation>
      <wsdl:input name="addActivityFromPatternAndAssignToUser" message="tns:addActivityFromPatternAndAssignToUser"/>
      <wsdl:output name="addActivityFromPatternAndAssignToUserResponse" message="tns:addActivityFromPatternAndAssignToUserResponse"/>
      <!-- If communication errors occur -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <!-- If cannot find entity with given identifier -->
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <!-- if the caller does not have all of the following permissions: VIEW_JOB, CREATE_ACTIVITY. -->
      <wsdl:fault name="PermissionException" message="tns:PermissionException"/>
      <!-- if there is an attempt to add an activity using an activity pattern that isn't available to the particular type of the given job. -->
      <wsdl:fault name="EntityStateException" message="tns:EntityStateException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="addActivityFromPatternAndAssignToQueue">
      <wsdl:documentation>@deprecated: As of 8.0 use gw.webservice.pc.pc800.job.JobAPI instead</wsdl:documentation>
      <wsdl:input name="addActivityFromPatternAndAssignToQueue" message="tns:addActivityFromPatternAndAssignToQueue"/>
      <wsdl:output name="addActivityFromPatternAndAssignToQueueResponse" message="tns:addActivityFromPatternAndAssignToQueueResponse"/>
      <!-- If communication errors occur -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <!-- if jobId, queueId, or activityPatternId do not exist. -->
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <!-- if the caller does not have all of the following permissions: VIEW_JOB, CREATE_ACTIVITY. -->
      <wsdl:fault name="PermissionException" message="tns:PermissionException"/>
      <!-- if there is an attempt to add an activity using an activity pattern that isn't available to the particular type of the given job. -->
      <wsdl:fault name="EntityStateException" message="tns:EntityStateException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="addActivityFromPatternAndAutoAssign">
      <wsdl:documentation>@deprecated: As of 8.0 use gw.webservice.pc.pc800.job.JobAPI instead</wsdl:documentation>
      <wsdl:input name="addActivityFromPatternAndAutoAssign" message="tns:addActivityFromPatternAndAutoAssign"/>
      <wsdl:output name="addActivityFromPatternAndAutoAssignResponse" message="tns:addActivityFromPatternAndAutoAssignResponse"/>
      <!-- If communication errors occur -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <!-- If cannot find entity with given identifier -->
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <!-- if the caller does not have all of the following permissions: VIEW_JOB, CREATE_ACTIVITY. -->
      <wsdl:fault name="PermissionException" message="tns:PermissionException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="findJobPublicIdByJobNumber">
      <wsdl:documentation>@deprecated: As of 8.0 use gw.webservice.pc.pc800.job.JobAPI instead</wsdl:documentation>
      <wsdl:input name="findJobPublicIdByJobNumber" message="tns:findJobPublicIdByJobNumber"/>
      <wsdl:output name="findJobPublicIdByJobNumberResponse" message="tns:findJobPublicIdByJobNumberResponse"/>
      <!-- If communication errors occur -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <!-- If cannot find entity with given identifier -->
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="withdrawJob">
      <wsdl:documentation>@deprecated: As of 8.0 use gw.webservice.pc.pc800.job.JobAPI instead</wsdl:documentation>
      <wsdl:input name="withdrawJob" message="tns:withdrawJob"/>
      <wsdl:output name="withdrawJobResponse" message="tns:withdrawJobResponse"/>
      <!-- If communication errors occur -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <!-- If cannot find entity with given identifier -->
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JobAPISoap12Binding" type="tns:JobAPIPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="addActivityFromPatternAndAssignToUser">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="addActivityFromPatternAndAssignToUser">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="addActivityFromPatternAndAssignToUserResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionException">
        <soap12:fault name="PermissionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EntityStateException">
        <soap12:fault name="EntityStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addActivityFromPatternAndAssignToQueue">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="addActivityFromPatternAndAssignToQueue">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="addActivityFromPatternAndAssignToQueueResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionException">
        <soap12:fault name="PermissionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EntityStateException">
        <soap12:fault name="EntityStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addActivityFromPatternAndAutoAssign">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="addActivityFromPatternAndAutoAssign">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="addActivityFromPatternAndAutoAssignResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionException">
        <soap12:fault name="PermissionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findJobPublicIdByJobNumber">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="findJobPublicIdByJobNumber">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="findJobPublicIdByJobNumberResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="withdrawJob">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="withdrawJob">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="withdrawJobResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JobAPISoap11Binding" type="tns:JobAPIPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="addActivityFromPatternAndAssignToUser">
      <soap11:operation style="document"/>
      <wsdl:input name="addActivityFromPatternAndAssignToUser">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="addActivityFromPatternAndAssignToUserResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionException">
        <soap11:fault name="PermissionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EntityStateException">
        <soap11:fault name="EntityStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addActivityFromPatternAndAssignToQueue">
      <soap11:operation style="document"/>
      <wsdl:input name="addActivityFromPatternAndAssignToQueue">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="addActivityFromPatternAndAssignToQueueResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionException">
        <soap11:fault name="PermissionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EntityStateException">
        <soap11:fault name="EntityStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addActivityFromPatternAndAutoAssign">
      <soap11:operation style="document"/>
      <wsdl:input name="addActivityFromPatternAndAutoAssign">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="addActivityFromPatternAndAutoAssignResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionException">
        <soap11:fault name="PermissionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findJobPublicIdByJobNumber">
      <soap11:operation style="document"/>
      <wsdl:input name="findJobPublicIdByJobNumber">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="findJobPublicIdByJobNumberResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="withdrawJob">
      <soap11:operation style="document"/>
      <wsdl:input name="withdrawJob">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="withdrawJobResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JobAPI">
    <wsdl:port name="JobAPISoap12Port" binding="tns:JobAPISoap12Binding">
      <soap12:address location="local:///gw/webservice/pc/pc700/job/JobAPI"/>
    </wsdl:port>
    <wsdl:port name="JobAPISoap11Port" binding="tns:JobAPISoap11Binding">
      <soap11:address location="local:///gw/webservice/pc/pc700/job/JobAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="addActivityFromPatternAndAssignToUser">
    <wsdl:part name="parameters" element="tns:addActivityFromPatternAndAssignToUser"/>
  </wsdl:message>
  <wsdl:message name="addActivityFromPatternAndAssignToUserResponse">
    <wsdl:part name="parameters" element="tns:addActivityFromPatternAndAssignToUserResponse"/>
  </wsdl:message>
  <wsdl:message name="SOAPException">
    <wsdl:part name="SOAPException" element="tns:SOAPException"/>
  </wsdl:message>
  <wsdl:message name="RequiredFieldException">
    <wsdl:part name="RequiredFieldException" element="tns:RequiredFieldException"/>
  </wsdl:message>
  <wsdl:message name="BadIdentifierException">
    <wsdl:part name="BadIdentifierException" element="tns:BadIdentifierException"/>
  </wsdl:message>
  <wsdl:message name="PermissionException">
    <wsdl:part name="PermissionException" element="tns:PermissionException"/>
  </wsdl:message>
  <wsdl:message name="EntityStateException">
    <wsdl:part name="EntityStateException" element="tns:EntityStateException"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="addActivityFromPatternAndAssignToQueue">
    <wsdl:part name="parameters" element="tns:addActivityFromPatternAndAssignToQueue"/>
  </wsdl:message>
  <wsdl:message name="addActivityFromPatternAndAssignToQueueResponse">
    <wsdl:part name="parameters" element="tns:addActivityFromPatternAndAssignToQueueResponse"/>
  </wsdl:message>
  <wsdl:message name="addActivityFromPatternAndAutoAssign">
    <wsdl:part name="parameters" element="tns:addActivityFromPatternAndAutoAssign"/>
  </wsdl:message>
  <wsdl:message name="addActivityFromPatternAndAutoAssignResponse">
    <wsdl:part name="parameters" element="tns:addActivityFromPatternAndAutoAssignResponse"/>
  </wsdl:message>
  <wsdl:message name="findJobPublicIdByJobNumber">
    <wsdl:part name="parameters" element="tns:findJobPublicIdByJobNumber"/>
  </wsdl:message>
  <wsdl:message name="findJobPublicIdByJobNumberResponse">
    <wsdl:part name="parameters" element="tns:findJobPublicIdByJobNumberResponse"/>
  </wsdl:message>
  <wsdl:message name="withdrawJob">
    <wsdl:part name="parameters" element="tns:withdrawJob"/>
  </wsdl:message>
  <wsdl:message name="withdrawJobResponse">
    <wsdl:part name="parameters" element="tns:withdrawJobResponse"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale">
    <wsdl:part name="gw-locale" element="gwsoap:locale"/>
  </wsdl:message>
</wsdl:definitions>