gsrc/gw/xsd/database/DB2Bufferpool.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DB2BUFFERPOOL" type="DB2BUFFERPOOLType"/>
  <xs:complexType name="DB2BUFFERPOOLType">
    <xs:sequence>
      <xs:element type="xs:string" name="BP_NAME"/>
      <xs:element type="xs:long" name="MEMBER"/>
      <xs:element type="xs:long" name="AUTOMATIC"/>
      <xs:element type="xs:long" name="DIRECT_READS"/>
      <xs:element type="xs:long" name="DIRECT_READ_REQS"/>
      <xs:element type="xs:long" name="DIRECT_WRITES"/>
      <xs:element type="xs:long" name="DIRECT_WRITE_REQS"/>
      <xs:element type="xs:long" name="POOL_DATA_L_READS"/>
      <xs:element type="xs:long" name="POOL_TEMP_DATA_L_READS"/>
      <xs:element type="xs:long" name="POOL_XDA_L_READS"/>
      <xs:element type="xs:long" name="POOL_TEMP_XDA_L_READS"/>
      <xs:element type="xs:long" name="POOL_INDEX_L_READS"/>
      <xs:element type="xs:long" name="POOL_TEMP_INDEX_L_READS"/>
      <xs:element type="xs:long" name="POOL_DATA_P_READS"/>
      <xs:element type="xs:long" name="POOL_TEMP_DATA_P_READS"/>
      <xs:element type="xs:long" name="POOL_XDA_P_READS"/>
      <xs:element type="xs:long" name="POOL_TEMP_XDA_P_READS"/>
      <xs:element type="xs:long" name="POOL_INDEX_P_READS"/>
      <xs:element type="xs:long" name="POOL_TEMP_INDEX_P_READS"/>
      <xs:element type="xs:long" name="POOL_DATA_WRITES"/>
      <xs:element type="xs:long" name="POOL_XDA_WRITES"/>
      <xs:element type="xs:long" name="POOL_INDEX_WRITES"/>
      <xs:element type="xs:long" name="DIRECT_READ_TIME"/>
      <xs:element type="xs:long" name="DIRECT_WRITE_TIME"/>
      <xs:element type="xs:long" name="POOL_READ_TIME"/>
      <xs:element type="xs:long" name="POOL_WRITE_TIME"/>
      <xs:element type="xs:long" name="POOL_ASYNC_DATA_READS"/>
      <xs:element type="xs:long" name="POOL_ASYNC_DATA_READ_REQS"/>
      <xs:element type="xs:long" name="POOL_ASYNC_DATA_WRITES"/>
      <xs:element type="xs:long" name="POOL_ASYNC_INDEX_READS"/>
      <xs:element type="xs:long" name="POOL_ASYNC_INDEX_READ_REQS"/>
      <xs:element type="xs:long" name="POOL_ASYNC_INDEX_WRITES"/>
      <xs:element type="xs:long" name="POOL_ASYNC_XDA_READS"/>
      <xs:element type="xs:long" name="POOL_ASYNC_XDA_READ_REQS"/>
      <xs:element type="xs:long" name="POOL_ASYNC_XDA_WRITES"/>
      <xs:element type="xs:long" name="POOL_NO_VICTIM_BUFFER"/>
      <xs:element type="xs:long" name="POOL_LSN_GAP_CLNS"/>
      <xs:element type="xs:long" name="POOL_DRTY_PG_STEAL_CLNS"/>
      <xs:element type="xs:long" name="POOL_DRTY_PG_THRSH_CLNS"/>
      <xs:element type="xs:long" name="VECTORED_IOS"/>
      <xs:element type="xs:long" name="PAGES_FROM_VECTORED_IOS"/>
      <xs:element type="xs:long" name="BLOCK_IOS"/>
      <xs:element type="xs:long" name="PAGES_FROM_BLOCK_IOS"/>
      <xs:element type="xs:long" name="UNREAD_PREFETCH_PAGES"/>
      <xs:element type="xs:long" name="FILES_CLOSED"/>
      <xs:element name="POOL_DATA_GBP_INDEP_PAGES_FOUND_IN_LBP" type="xs:long" minOccurs="1"/>
      <xs:element name="POOL_INDEX_GBP_INDEP_PAGES_FOUND_IN_LBP" type="xs:long" minOccurs="1"/>
      <xs:element name="POOL_XDA_GBP_INDEP_PAGES_FOUND_IN_LBP" type="xs:long" minOccurs="1"/>
      <xs:element name="POOL_ASYNC_DATA_GBP_INDEP_PAGES_FOUND_IN_LBP" type="xs:long" minOccurs="1"/>
      <xs:element name="POOL_ASYNC_INDEX_GBP_INDEP_PAGES_FOUND_IN_LBP" type="xs:long" minOccurs="1"/>
      <xs:element name="POOL_ASYNC_XDA_GBP_INDEP_PAGES_FOUND_IN_LBP" type="xs:long" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>