gsrc/gw/xsd/database/DB2NewPkgCache.xsd

<?xml version="1.0"?>
<xs:schema id="NewDataSet" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mc="http://www.ibm.com/xmlns/prod/db2/mon" >
    <xs:import namespace="http://www.ibm.com/xmlns/prod/db2/mon"  schemaLocation="DB2MonRoutines.xsd"/>
    <xs:element name="DB2NEWPKGCACHE">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MEMBER" type="xs:long" minOccurs="1"/>
                <xs:element name="SECTION_TYPE" type="xs:string" minOccurs="1"/>
                <xs:element name="INSERT_TIMESTAMP" type="xs:dateTime" minOccurs="1"/>
                <xs:element name="PACKAGE_SCHEMA" type="xs:string" minOccurs="1"/>
                <xs:element name="PACKAGE_NAME" type="xs:string" minOccurs="1"/>
                <xs:element name="PACKAGE_VERSION_ID" type="xs:string" minOccurs="1"/>
                <xs:element name="SECTION_NUMBER" type="xs:long" minOccurs="1"/>
                <xs:element name="EFFECTIVE_ISOLATION" type="xs:string" minOccurs="1"/>
                <xs:element name="NUM_EXECUTIONS" type="xs:long" minOccurs="1"/>
                <xs:element name="NUM_EXEC_WITH_METRICS" type="xs:long" minOccurs="1"/>
                <xs:element name="PREP_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="TOTAL_ACT_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="TOTAL_ACT_WAIT_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="TOTAL_CPU_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_READ_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_WRITE_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="DIRECT_READ_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="DIRECT_WRITE_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="LOCK_WAIT_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="TOTAL_SECTION_SORT_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="TOTAL_SECTION_SORT_PROC_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="TOTAL_SECTION_SORTS" type="xs:long" minOccurs="1"/>
                <xs:element name="LOCK_ESCALS" type="xs:long" minOccurs="1"/>
                <xs:element name="LOCK_WAITS" type="xs:long" minOccurs="1"/>
                <xs:element name="ROWS_MODIFIED" type="xs:long" minOccurs="1"/>
                <xs:element name="ROWS_READ" type="xs:long" minOccurs="1"/>
                <xs:element name="ROWS_RETURNED" type="xs:long" minOccurs="1"/>
                <xs:element name="DIRECT_READS" type="xs:long" minOccurs="1"/>
                <xs:element name="DIRECT_READ_REQS" type="xs:long" minOccurs="1"/>
                <xs:element name="DIRECT_WRITES" type="xs:long" minOccurs="1"/>
                <xs:element name="DIRECT_WRITE_REQS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_DATA_L_READS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_TEMP_DATA_L_READS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_XDA_L_READS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_TEMP_XDA_L_READS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_INDEX_L_READS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_TEMP_INDEX_L_READS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_DATA_P_READS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_TEMP_DATA_P_READS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_XDA_P_READS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_TEMP_XDA_P_READS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_INDEX_P_READS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_TEMP_INDEX_P_READS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_DATA_WRITES" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_XDA_WRITES" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_INDEX_WRITES" type="xs:long" minOccurs="1"/>
                <xs:element name="TOTAL_SORTS" type="xs:long" minOccurs="1"/>
                <xs:element name="POST_THRESHOLD_SORTS" type="xs:long" minOccurs="1"/>
                <xs:element name="POST_SHRTHRESHOLD_SORTS" type="xs:long" minOccurs="1"/>
                <xs:element name="SORT_OVERFLOWS" type="xs:long" minOccurs="1"/>
                <xs:element name="WLM_QUEUE_TIME_TOTAL" type="xs:long" minOccurs="1"/>
                <xs:element name="WLM_QUEUE_ASSIGNMENTS_TOTAL" type="xs:long" minOccurs="1"/>
                <xs:element name="DEADLOCKS" type="xs:long" minOccurs="1"/>
                <xs:element name="FCM_RECV_VOLUME" type="xs:long" minOccurs="1"/>
                <xs:element name="FCM_RECVS_TOTAL" type="xs:long" minOccurs="1"/>
                <xs:element name="FCM_SEND_VOLUME" type="xs:long" minOccurs="1"/>
                <xs:element name="FCM_SENDS_TOTAL" type="xs:long" minOccurs="1"/>
                <xs:element name="FCM_RECV_WAIT_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="FCM_SEND_WAIT_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="LOCK_TIMEOUTS" type="xs:long" minOccurs="1"/>
                <xs:element name="LOG_BUFFER_WAIT_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="NUM_LOG_BUFFER_FULL" type="xs:long" minOccurs="1"/>
                <xs:element name="LOG_DISK_WAIT_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="LOG_DISK_WAITS_TOTAL" type="xs:long" minOccurs="1"/>
                <xs:element name="LAST_METRICS_UPDATE" type="xs:dateTime" minOccurs="1"/>
                <xs:element name="NUM_COORD_EXEC" type="xs:long" minOccurs="1"/>
                <xs:element name="NUM_COORD_EXEC_WITH_METRICS" type="xs:long" minOccurs="1"/>
                <xs:element name="TOTAL_ROUTINE_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="TOTAL_ROUTINE_INVOCATIONS" type="xs:long" minOccurs="1"/>
                <xs:element name="ROUTINE_ID" type="xs:long" minOccurs="1"/>
                <xs:element name="STMT_TYPE_ID" type="xs:string" minOccurs="1"/>
                <xs:element name="QUERY_COST_ESTIMATE" type="xs:long" minOccurs="1"/>
                <xs:element name="STMT_PKG_CACHE_ID" type="xs:long" minOccurs="1"/>
                <xs:element name="COORD_STMT_EXEC_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="STMT_EXEC_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="TOTAL_SECTION_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="TOTAL_SECTION_PROC_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="TOTAL_ROUTINE_NON_SECT_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="TOTAL_ROUTINE_NON_SECT_PROC_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="LOCK_WAITS_GLOBAL" type="xs:long" minOccurs="1"/>
                <xs:element name="LOCK_WAIT_TIME_GLOBAL" type="xs:long" minOccurs="1"/>
                <xs:element name="LOCK_TIMEOUTS_GLOBAL" type="xs:long" minOccurs="1"/>
                <xs:element name="LOCK_ESCALS_MAXLOCKS" type="xs:long" minOccurs="1"/>
                <xs:element name="LOCK_ESCALS_LOCKLIST" type="xs:long" minOccurs="1"/>
                <xs:element name="LOCK_ESCALS_GLOBAL" type="xs:long" minOccurs="1"/>
                <xs:element name="RECLAIM_WAIT_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="SPACEMAPPAGE_RECLAIM_WAIT_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="CF_WAITS" type="xs:long" minOccurs="1"/>
                <xs:element name="CF_WAIT_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_DATA_GBP_L_READS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_DATA_GBP_P_READS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_DATA_LBP_PAGES_FOUND" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_DATA_GBP_INVALID_PAGES" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_INDEX_GBP_L_READS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_INDEX_GBP_P_READS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_INDEX_LBP_PAGES_FOUND" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_INDEX_GBP_INVALID_PAGES" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_XDA_GBP_L_READS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_XDA_GBP_P_READS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_XDA_LBP_PAGES_FOUND" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_XDA_GBP_INVALID_PAGES" type="xs:long" minOccurs="1"/>
                <xs:element name="AUDIT_EVENTS_TOTAL" type="xs:long" minOccurs="1"/>
                <xs:element name="AUDIT_FILE_WRITES_TOTAL" type="xs:long" minOccurs="1"/>
                <xs:element name="AUDIT_FILE_WRITE_WAIT_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="AUDIT_SUBSYSTEM_WAITS_TOTAL" type="xs:long" minOccurs="1"/>
                <xs:element name="AUDIT_SUBSYSTEM_WAIT_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="DIAGLOG_WRITES_TOTAL" type="xs:long" minOccurs="1"/>
                <xs:element name="DIAGLOG_WRITE_WAIT_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="FCM_MESSAGE_RECVS_TOTAL" type="xs:long" minOccurs="1"/>
                <xs:element name="FCM_MESSAGE_RECV_VOLUME" type="xs:long" minOccurs="1"/>
                <xs:element name="FCM_MESSAGE_RECV_WAIT_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="FCM_MESSAGE_SENDS_TOTAL" type="xs:long" minOccurs="1"/>
                <xs:element name="FCM_MESSAGE_SEND_VOLUME" type="xs:long" minOccurs="1"/>
                <xs:element name="FCM_MESSAGE_SEND_WAIT_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="FCM_TQ_RECVS_TOTAL" type="xs:long" minOccurs="1"/>
                <xs:element name="FCM_TQ_RECV_VOLUME" type="xs:long" minOccurs="1"/>
                <xs:element name="FCM_TQ_RECV_WAIT_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="FCM_TQ_SENDS_TOTAL" type="xs:long" minOccurs="1"/>
                <xs:element name="FCM_TQ_SEND_VOLUME" type="xs:long" minOccurs="1"/>
                <xs:element name="FCM_TQ_SEND_WAIT_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="NUM_LW_THRESH_EXCEEDED" type="xs:long" minOccurs="1"/>
                <xs:element name="THRESH_VIOLATIONS" type="xs:long" minOccurs="1"/>
                <xs:element name="TOTAL_APP_SECTION_EXECUTIONS" type="xs:long" minOccurs="1"/>
                <xs:element name="TOTAL_ROUTINE_USER_CODE_PROC_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="TOTAL_ROUTINE_USER_CODE_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="TQ_TOT_SEND_SPILLS" type="xs:long" minOccurs="1"/>
                <xs:element name="EVMON_WAIT_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="EVMON_WAITS_TOTAL" type="xs:long" minOccurs="1"/>
                <xs:element name="TOTAL_EXTENDED_LATCH_WAIT_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="TOTAL_EXTENDED_LATCH_WAITS" type="xs:long" minOccurs="1"/>
                <xs:element name="MAX_COORD_STMT_EXEC_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="MAX_COORD_STMT_EXEC_TIMESTAMP" type="xs:dateTime" minOccurs="1"/>
                <xs:element name="TOTAL_DISP_RUN_QUEUE_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="QUERY_DATA_TAG_LIST" type="xs:string" minOccurs="1"/>
                <xs:element name="TOTAL_STATS_FABRICATION_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="TOTAL_STATS_FABRICATIONS" type="xs:long" minOccurs="1"/>
                <xs:element name="TOTAL_SYNC_RUNSTATS_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="TOTAL_SYNC_RUNSTATS" type="xs:long" minOccurs="1"/>
                <xs:element name="TOTAL_PEDS" type="xs:long" minOccurs="1"/>
                <xs:element name="DISABLED_PEDS" type="xs:long" minOccurs="1"/>
                <xs:element name="POST_THRESHOLD_PEDS" type="xs:long" minOccurs="1"/>
                <xs:element name="TOTAL_PEAS" type="xs:long" minOccurs="1"/>
                <xs:element name="POST_THRESHOLD_PEAS" type="xs:long" minOccurs="1"/>
                <xs:element name="TQ_SORT_HEAP_REQUESTS" type="xs:long" minOccurs="1"/>
                <xs:element name="TQ_SORT_HEAP_REJECTIONS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_QUEUED_ASYNC_DATA_REQS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_QUEUED_ASYNC_INDEX_REQS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_QUEUED_ASYNC_XDA_REQS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_QUEUED_ASYNC_TEMP_DATA_REQS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_QUEUED_ASYNC_TEMP_INDEX_REQS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_QUEUED_ASYNC_TEMP_XDA_REQS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_QUEUED_ASYNC_OTHER_REQS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_QUEUED_ASYNC_DATA_PAGES" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_QUEUED_ASYNC_INDEX_PAGES" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_QUEUED_ASYNC_XDA_PAGES" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_QUEUED_ASYNC_TEMP_DATA_PAGES" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_QUEUED_ASYNC_TEMP_INDEX_PAGES" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_QUEUED_ASYNC_TEMP_XDA_PAGES" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_FAILED_ASYNC_DATA_REQS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_FAILED_ASYNC_INDEX_REQS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_FAILED_ASYNC_XDA_REQS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_FAILED_ASYNC_TEMP_DATA_REQS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_FAILED_ASYNC_TEMP_INDEX_REQS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_FAILED_ASYNC_TEMP_XDA_REQS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_FAILED_ASYNC_OTHER_REQS" type="xs:long" minOccurs="1"/>
                <xs:element name="PREFETCH_WAIT_TIME" type="xs:long" minOccurs="1"/>
                <xs:element name="PREFETCH_WAITS" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_DATA_GBP_INDEP_PAGES_FOUND_IN_LBP" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_INDEX_GBP_INDEP_PAGES_FOUND_IN_LBP" type="xs:long" minOccurs="1"/>
                <xs:element name="POOL_XDA_GBP_INDEP_PAGES_FOUND_IN_LBP" type="xs:long" minOccurs="1"/>
                <xs:element name="STMT_TEXT" type="xs:string" minOccurs="1"/>
                <xs:element name="MAX_COORD_STMT_EXEC_TIME_ARGS">
                     <xs:complexType>
                         <xs:sequence>
                             <xs:element ref="mc:max_coord_stmt_exec_time_args" minOccurs="0"/>
                         </xs:sequence>
                     </xs:complexType>
                 </xs:element>
            </xs:sequence>
        </xs:complexType>
     </xs:element>
  </xs:schema>
