gsrc/wsi/local/gw/webservice/pc/pc800/job/PolicyChangeAPI.wsdl

<?xml version="1.0"?>
<!-- Generated WSDL for gw.webservice.pc.pc800.job.PolicyChangeAPI web service -->
<wsdl:definitions targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc800/job/PolicyChangeAPI" name="PolicyChangeAPI" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://guidewire.com/pc/ws/gw/webservice/pc/pc800/job/PolicyChangeAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc800/job/PolicyChangeAPI" elementFormDefault="qualified" xmlns:gw="http://guidewire.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="../../../../../../../gw/xsd/guidewire/soapheaders.xsd"/>
      <!-- startManualPolicyChange(String, Date) : String -->
      <xs:element name="startManualPolicyChange">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="policyNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="effectiveDate" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="startManualPolicyChangeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SOAPException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="RequiredFieldException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="BadIdentifierException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="EntityStateException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
      <!-- startAutomaticPolicyChange(String, Date) : String -->
      <xs:element name="startAutomaticPolicyChange">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="policyNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="effectiveDate" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="startAutomaticPolicyChangeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="PolicyChangeAPIPortType">
    <wsdl:operation name="startManualPolicyChange">
      <wsdl:input name="startManualPolicyChange" message="tns:startManualPolicyChange"/>
      <wsdl:output name="startManualPolicyChangeResponse" message="tns:startManualPolicyChangeResponse"/>
      <!-- If communication errors occur -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <!-- If cannot find entity with given identifier -->
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <!-- if a Policy Change cannot be started for the policy -->
      <wsdl:fault name="EntityStateException" message="tns:EntityStateException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="startAutomaticPolicyChange">
      <wsdl:input name="startAutomaticPolicyChange" message="tns:startAutomaticPolicyChange"/>
      <wsdl:output name="startAutomaticPolicyChangeResponse" message="tns:startAutomaticPolicyChangeResponse"/>
      <!-- If communication errors occur -->
      <wsdl:fault name="SOAPException" message="tns:SOAPException"/>
      <!-- If required field is missing -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <!-- If cannot find entity with given identifier -->
      <wsdl:fault name="BadIdentifierException" message="tns:BadIdentifierException"/>
      <!-- if a Policy Change cannot be started for the policy -->
      <wsdl:fault name="EntityStateException" message="tns:EntityStateException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PolicyChangeAPISoap12Binding" type="tns:PolicyChangeAPIPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="startManualPolicyChange">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="startManualPolicyChange">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="startManualPolicyChangeResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EntityStateException">
        <soap12:fault name="EntityStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startAutomaticPolicyChange">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="startAutomaticPolicyChange">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="startAutomaticPolicyChangeResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EntityStateException">
        <soap12:fault name="EntityStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PolicyChangeAPISoap11Binding" type="tns:PolicyChangeAPIPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="startManualPolicyChange">
      <soap11:operation style="document"/>
      <wsdl:input name="startManualPolicyChange">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="startManualPolicyChangeResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EntityStateException">
        <soap11:fault name="EntityStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startAutomaticPolicyChange">
      <soap11:operation style="document"/>
      <wsdl:input name="startAutomaticPolicyChange">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="startAutomaticPolicyChangeResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EntityStateException">
        <soap11:fault name="EntityStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PolicyChangeAPI">
    <wsdl:port name="PolicyChangeAPISoap12Port" binding="tns:PolicyChangeAPISoap12Binding">
      <soap12:address location="local:///gw/webservice/pc/pc800/job/PolicyChangeAPI"/>
    </wsdl:port>
    <wsdl:port name="PolicyChangeAPISoap11Port" binding="tns:PolicyChangeAPISoap11Binding">
      <soap11:address location="local:///gw/webservice/pc/pc800/job/PolicyChangeAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="startManualPolicyChange">
    <wsdl:part name="parameters" element="tns:startManualPolicyChange"/>
  </wsdl:message>
  <wsdl:message name="startManualPolicyChangeResponse">
    <wsdl:part name="parameters" element="tns:startManualPolicyChangeResponse"/>
  </wsdl:message>
  <wsdl:message name="SOAPException">
    <wsdl:part name="SOAPException" element="tns:SOAPException"/>
  </wsdl:message>
  <wsdl:message name="RequiredFieldException">
    <wsdl:part name="RequiredFieldException" element="tns:RequiredFieldException"/>
  </wsdl:message>
  <wsdl:message name="BadIdentifierException">
    <wsdl:part name="BadIdentifierException" element="tns:BadIdentifierException"/>
  </wsdl:message>
  <wsdl:message name="EntityStateException">
    <wsdl:part name="EntityStateException" element="tns:EntityStateException"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="startAutomaticPolicyChange">
    <wsdl:part name="parameters" element="tns:startAutomaticPolicyChange"/>
  </wsdl:message>
  <wsdl:message name="startAutomaticPolicyChangeResponse">
    <wsdl:part name="parameters" element="tns:startAutomaticPolicyChangeResponse"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale">
    <wsdl:part name="gw-locale" element="gwsoap:locale"/>
  </wsdl:message>
</wsdl:definitions>